[2018-12-11 06:46] drdanz commented on #534
About 4 years ago...

[2018-12-11 08:06] pattacini commented on #534
@drdanz the question was related to our packages, I suppose 😉

[2018-12-11 09:14] pattacini commented on #534
I wouldn't put YCM in `icub-main` honestly, it's quite a dirty solution.
Let's deliver it in the new packages and, in the meanwhile, if YCM is required travis-wise, then it could be still downloaded in the server easily.

[2018-12-11 12:38] drdanz commented on #534
That's the reason why it's not there yet :rofl:

[2018-12-16 19:17] gsaponaro opened #562 "FirmwareUpdater libGL errors with iCub LIVE image 7.9"
We recently installed the iCub LIVE image 7.9 on a new USB pen drive for the PC104 of iCubLisboa01 (CAN robot), and we updated the software in the robot cluster (yarp 3.1.0 from master).

The robot is operational, we configured our network, we tested the red ball demo successfully.

However, when we launch the `FirmwareUpdater` tool (with or without options) it complains about the following:

[cod

[2018-12-18 12:42] julijenv commented on #562
hi @gsaponaro , sorry, my bad I sent you the wrong file. here is the good one, please try again.

[calibrationDataSN094.txt](https://github.com/robotology/icub-main/files/2690475/calibrationDataSN094.txt)
in order to send it I had to change the extension form dat to txt please rename it in .dat

[2018-12-18 13:05] gsaponaro commented on #562
Hi @julijenv , thank you very much for that: I updated the other issue https://github.com/robotology/icub-support/issues/749 after the now-successful F/T flashing.

I keep this issue open (https://github.com/robotology/icub-main/issues/562) about the software problem that we encountered with `FirmwareUpdater`.

[2018-12-18 13:06] julijenv commented on #562
to @marcoaccame , i was toalking about that issue, thx in advance to have a look at it

[2018-12-19 13:59] Yeshasvitvs opened #563 "Investigate esdCan or canBusAnalogSensor driver termination"
While using the FTShoes we noticed immediately after killing `yarprobotinterface` with `ctrl+c` I could not relaunch it again. It almost always throws the error shown below and the I need to remove and plugin the usb of the shoe cables before launching `yarprobotinterface` again

<img width="1920" alt="shoeserror" src="https://user-images.githubusercontent.com/6505998/49661403-3f846d00-fa49-11e8-8

[2018-12-19 15:06] traversaro commented on #563
I think it is worth mentioning this addition info:
* The FTShoe is a sandal with two IIT FTSens sensor mounted on the same CAN network.
* Apparently the issue does not arise when only one FT sensor is connected to the CAN network (@InesSorrentino correct me if I am wrong)
* The same issues arises on both Linux (using socketCan) and Windows (using esdCan) (@InesSorrentino please correct me), so we

[2018-12-19 16:08] InesSorrentino commented on #563
@traversaro everything is correct.

[2018-12-19 16:10] traversaro commented on #563
This issue could also be related to the STRAIN2 firmware. @marcoaccame @valegagge

[2018-12-21 10:30] valegagge commented on #563
As @traversaro said, I think the problem is due to how the canBusAnalogSensor deinitialises the strain before closeing itsself; in order to understand if the bug is in canBusAnalogSensor or in the sensor it would be great if we have the following information:

1.  The setup of shoes used by @Yeshasvitvs is composed by Strain1, right?
2. Does exist a setup (maybe on green robot) where 2 Strain2 are

[2018-12-21 15:33] Yeshasvitvs commented on #563
1: I am using Pro.04 FTShoes which contain Strain 2 FTSensors
2, 3:  I am not an active user and I am not aware of someone who is. Probably @fjandrad can give some inputs on this.
4. I have a habit of doing it 3 times and I cannot be certain of exactly how many times I was using ctlr+c to kill the yarprobotinterface for FTShoes

@valegagge

[2018-12-21 16:16] traversaro commented on #563
I can't find the relevant yarprobotinterface conf file for pro04 in https://github.com/robotology-playground/forcetorque-yarp-devices/tree/master/ftShoe/conf . Where it is?

[2018-12-21 16:39] Yeshasvitvs commented on #563
In general we push the config file once we do the calibration with the force platform and find the inSituMatrices, for example check Pro.02 [inSituMatrices](https://github.com/robotology-playground/forcetorque-yarp-devices/blob/7c08e4fd78e705a3eb88b8315b143815a3709a8c/ftShoe/conf/ftshoes_yarprobotinterface_PRO.02.xml#L81). In the case of Pro.04 we did not do the calibration yet as the platform was

[2018-12-21 16:41] traversaro commented on #563
For @valegagge : the PRO.03 config is https://github.com/robotology-playground/forcetorque-yarp-devices/blob/master/ftShoe/conf/ftshoes_yarprobotinterface_PRO.03.xml .

[2018-12-21 20:04] fjandrad commented on #563
@valegagge on the green each sensor has a different address so I would assume they are in a different Ethernet board. And since the green uses Ethernet I doubt it has a can configuration with 2 sensors, with the shoes we connect two per feet so sometimes there are up to 4 in the same setup.

[2018-12-21 21:17] valegagge commented on #563
@Yeshasvitvs : if you use more than one ctrl+c , maybe you can abort some operation, so if you want to shutdown the setup in a clean way, please press one time only.  In this way all deinitialize procedures has time to complete their works and leave the board in a correct state.

[2018-12-21 21:46] valegagge commented on #563
@fjandrad

This is not complete correct, each Ethernet board could have more one can boards connected (like mtb), but I saw, in green configuration file on devel branch, that each strain has the same CAN address, so this mean that there is one strain per CAN bus. Moreover I checked that there is one strain per Ethernet board.

I'm sorry, in the question 3 I did an error: I would to know if someone

[2018-12-21 21:58] valegagge commented on #563
In the configuration of shoes setup I noticed the device called ftshoe. What is this?

However to solve this issue, first of all I would like to use only one crtl+c.
If the problem happens again, I can investigate it, but I need a your setup with the two or four strain connected together.

[2018-12-21 22:10] traversaro commented on #563
* https://github.com/robotology-playground/forcetorque-yarp-devices/blob/master/ftShoe/ftshoeDriver.h
* https://github.com/robotology-playground/forcetorque-yarp-devices/blob/master/ftShoe/ftshoeDriver.cpp

In short, it is a  device that attached to the two FT sensors and sums their measure to expose them as a single "combined" FT sensor.

[2018-12-21 22:19] Yeshasvitvs commented on #563
May be @InesSorrentino tried to kill it with one ctrl+c ?

[2019-01-02 08:54] marcoaccame commented on #562
The FirmwareUpdater program seems OK to me. It loads the correct drivers CFW2<x> as indicated by its `firmwareupdater.ini`.

I don't know about the libGL and ACE_SOCK_Dgram messages, but I would let them aside for a while.

What does happen if you select (put the mouse onto and click) the CFW2<2> device and you press `Discover`?

The effect should be to launch a discovery on the device using the s

[2019-01-02 12:18] traversaro opened #564 "Travis on devel is failing"
Probably due to the old version of OpenCV running on Travis, see https://github.com/robotology/idyntree/issues/511 . As I guess this is intentional, we can either switch off Travis for icub-main, or migrate it to run on Xenial or Bionic using the new docker-based template, see https://github.com/robotology/how-to-export-cpp-library/issues/29 and https://github.com/robotology/how-to-export-cpp-libr

[2019-01-02 15:06] pattacini commented on #564
Cool 👍

[2019-01-02 15:06] #564 closed

[2019-01-03 17:39] gsaponaro commented on #562
Hi @marcoaccame , thanks for the help.

It says that no CAN boards are found, screenshot:

![2019-01-03 17-29-33 firmwareupdater](https://user-images.githubusercontent.com/6716962/50652065-32419c00-0f7d-11e9-9bc6-8708a381aeaf.png)

Log:

[code]

By the way, our robot is CAN, and our PC104 has an IP address different than the default: 10.10.1.50. Shall we make a custom `firmwareupdater.ini`? If so,

[2019-01-03 17:47] gsaponaro commented on #562
Sorry, please disregard the last message. I can actually `Discover` the two CAN nets of the arms:

![2019-01-03 17-44-04 firmwareupdater](https://user-images.githubusercontent.com/6716962/50652767-6fa72900-0f7f-11e9-8e64-bc16b0e47ff0.png)

The result seems consistent to what I was getting with `canLoader` in https://github.com/robotology/icub-support/issues/749. I will now write in the other issue

[2019-01-08 10:25] davidetome opened #565 "frameGrabberGui2 segmentation fault"
unable to run the GUI..
**head OS** : iCub OS version 8.0.18.04-20161123 based on Ubuntu 18.04.1 LTS (GNU/Linux 4.15.0-43-lowlatency x86_64)
**server OS**: ubuntu 18.04.1 LTS

![pastedimage](https://user-images.githubusercontent.com/6638215/50824309-87dbc700-1336-11e9-97e7-9dfe1579cc05.png)

[2019-01-08 11:06] pattacini commented on #565
Thanks @davidetome for reporting.

How's your setup like in terms of `yarp` and `icub-main` software configurations? In particular, are you using binaries (which version?) or `master` / `devel` branches compiled?

[2019-01-08 11:56] davidetome commented on #565
Hi @pattacini , thanks for quick reply.
I'm using  master branches compiled..
![image](https://user-images.githubusercontent.com/6638215/50829397-b2cd1780-1344-11e9-81d8-dc8f1a3e1f8e.png)

[2019-01-08 15:00] davidetome commented on #565
I tried to:

1) switch to devel branch (both on icub an yarp)
2) using a server with ubuntu 16.04 LTS

the behavior is the same; GUI opens only if yarpdev is not running on the head. Otherwise i get segmentation fault

[2019-01-09 08:44] davidetome commented on #565
this is the error message caught by @pattacini  debugging framegrabbergui2:

ASSERT failure in QList<T>::at: "index out of range", file /usr/include/x86_64-linux-gnu/qt5/QtCore/qlist.h, line 541

Thread 1 "frameGrabberGui" received signal SIGABRT, Aborted.
__GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:51
51	../sysdeps/unix/sysv/linux/raise.c: No such file or directory.

[2019-01-09 08:52] pattacini commented on #565
@Nicogene would you be available to help on this?

[2019-01-09 09:48] lornat75 commented on #565
have you tried to replicate the problem on another machine/setup? is the framegrabber gui working on the iCub setups?

[2019-01-09 10:24] pattacini commented on #565
On Blacky setup, the GUI works normally, barring a few seldom crashes.
I talked f2f to @Nicogene who said he is aware that the GUI seg-faults are due to flaw exceptions handling while processing received messages from the grabber.

[2019-01-09 11:23] #565 closed

[2019-01-09 13:12] davidetome commented on #565
ok, now everything works properly. Thank you all

[2019-01-09 13:36] pattacini commented on #565
Great! Many thanks to @Nicogene 👍

[2019-01-11 13:37] InesSorrentino commented on #563
Yesterday I tried the behavior of the ctrl + c to stop the drivers of the ftsensors (I'm running the driver of the right shoe and that one of the left shoe together but on two separate terminals).
If you stop the driver by typing repeatedly and quickly ctrl + c the problem happens.
Instead the correct way is the following. If after one ctrl+c the driver is not stopped you can try again but by wait

[2019-01-11 14:47] traversaro commented on #563
I think a single Ctrl+C should be sufficient. Is this the case @InesSorrentino ? Otherwise, there are still some termination issues.

[2019-01-11 14:58] InesSorrentino commented on #563
It depends, in most cases with a single Ctrl+C the driver is not stopped. Thus, if the correct way must be with a single Ctrl+C, then probably there are still issues.

[2019-01-11 15:01] traversaro commented on #563
Let's wait @valegagge reply, but I think a single Ctrl+C should be sufficient.

[2019-01-20 23:04] DanielePucci commented on #563
CC
@valegagge

[2019-01-21 08:44] valegagge commented on #563
A single Ctrl+C is sufficient to shutdown yarprobotinterface. In some cases, the user need to wait more than 30 seconds before the shutting down phase is finished.
Let me know if there are still issues.

[2019-02-12 16:49] nunoguedelha opened #568 "Motor current measurement excessive oscillations and dependency on motor angular position"
On a slow moving (*) joint and a **constant PWM set-point**, the motor current measurement displays a random noise of $300 mA$ about a mean value. That mean value is not constant as we expected, but varying with the motor position. The amplitude of the current oscillations is of +/-0.5 A.

(*) The joint is being moved slowly to static positions and kept a few seconds on each position.

[2019-02-15 15:54] nunoguedelha commented on #568
The tests were performed on the hip roll joint of the left leg of iCub.

### Fixed PWM set-point $\rightarrow$ expected constant measured current
While for a fixed PWM set-point the mean current value is expected to be constant, we observe variations within $\pm 0.5 A$ about a fixed value.

In a first experiment, we set and keep the PWM at a fixed value for a given period of time, through three co

[2019-02-15 16:54] nunoguedelha commented on #568
CC @lrapetti  @DanielePucci   @traversaro

[2019-02-15 16:54] nunoguedelha commented on #568
CC @maggia80

[2019-02-15 17:34] lrapetti commented on #568
@nunoguedelha
Did you checked if, for a given rotor position the offset is constant in time and/or in repeated tests (e.g. afternoon turning off the robot).

[2019-02-15 17:51] nunoguedelha commented on #568
The current is constant for a given fixed rotor position, at least in a period on a couple of minutes.
Any hypothetical drift over a longer period would have nothing to do with what we are observing here I think.

**Note:** Regarding any experiment where we turn off and back on the robot, we have to keep in mind that the motor position is given by relative encoders so we won't have the same readin

[2019-02-16 12:01] DanielePucci commented on #568
CC
@ale-git @maggia80

[2019-02-16 15:52] nunoguedelha commented on #568
Updated comment https://github.com/robotology/icub-main/issues/568#issuecomment-464099790 with a GIF clarifying the projection (Figure 4b).

[2019-02-22 10:28] maggia80 commented on #568
we should look at how the current is measured. Remember that for low PWM duty cycle the measurement of the current is quite noisy. This is because usually, you measure the current when the PWM is in the ON state and then you divide it for the percentage of the PWM (in order to get the mean of the current during the whole PWM period). But I don't know how @ale-git is doing the measurement in the FW

[2019-02-24 12:57] nunoguedelha commented on #568
@maggia80 I see your point. Knowing how the current is measured should help us understand the $\pm 100 mA$ noise.
Still, I would like to highlight the following points to consider regarding the problem of $\pm 0.5 A$ oscillations, i.e. the observed offset $\Delta i = f(\theta_m)$, where $\theta_m$ is the rotor position:
- Considering that we get a pattern clearly depending on the position, I belie

[2019-02-24 14:14] nunoguedelha commented on #568
Edited my last comment.

[2019-02-26 10:56] maggia80 commented on #568
I see

[2019-03-05 10:05] valeriosperati opened #569 "icubSim: continuous crashes due to ODE INTERNAL ERROR 1"
Greetings,
about icubSim, I continuously report crashes after few minutes, during which iCub moves using both Cartesian Interface and Gaze Interface. I always obtain the same error:

[code]

Note that in my simulation the iCub interacts with simulated standard objects (i.e. cubes and spheres). Nevertheless, iCubSim crashes even if the robot stands still, generally after a couple of minutes.

Any i

[2019-03-05 10:34] pattacini commented on #569
Is it also crashing with iCub standing still and with or without objects?

Ideally, it would be beneficial to be able to reproduce your environment in the least amount of things to make the crash occur.

[2019-03-06 10:47] valeriosperati commented on #569
Hi, thanks for the suggestion, it helped me in solving the problem.
I realised that the problem arises when I work with objects in the environment.
I checked my code and I noticed that I erroneously called continuously (at each step of the simulation) the command
`world set ssph`
 on a sphere which was supposed to be still. Maybe this useless, continuous command generated the ODE error.
Removing t

[2019-03-06 10:47] #569 closed

[2019-03-06 10:49] pattacini commented on #569
Happy to have been of any help 👍

[2019-03-12 09:00] traversaro opened #570 "Handle software modifications necessary to support the bno055 IMU mounted on the RFE (Robot Face Expression) board"
More details will come in the following.

[2019-03-12 10:21] traversaro commented on #570
Similar issue from the past: https://github.com/robotology/icub-main/issues/285 .

[2019-03-12 15:14] nunoguedelha commented on #568
Ciao @ale-git, would you have any news on this issue?

If I'm not mistaken @DanielePucci and @maggia80 considered the possibility that we work together on testing the current control on the iCub2.5 (iCubGenova04). In that case I would be quite interested in taking a look at the firmware code handling the Clark & Park transforms, for having an idea of how it all works.

[2019-03-26 15:51] xEnVrE opened #571 "iCub::iKin::iCubFinger::getChainJoints uses wrong joint limits for the thumb"
The [method](https://github.com/robotology/icub-main/blob/e030379c948d347f96a942058c4f5269234a4116/src/libraries/iKin/src/iKinFwd.cpp#L2145) `iCub::iKin::iCubFinger::getChainJoints(const Vector &motorEncoders, const Vector &jointEncoders, Vector &chainJoints, const Matrix &jointEncodersBounds)` uses the operator `iKinLink&  iCub::iKin::iKinChain::operator[]` in order to obtain the limits of the fi

[2019-03-26 19:42] pattacini commented on #571
Good catch @xEnVrE 👍
Should be fixed in `devel` now.

I've never played in depth with the fingers, thus it might be that there are other similar mistakes.

Do you think/expect that this patch might also help narrow down the longstanding problem we've been observing with the thumb?

cc @claudiofantacci

[2019-03-27 09:18] xEnVrE commented on #571
Thanks @pattacini for the fix.

The main problem we have have the thumb affects the **opposition** joint while this bug was mainly affecting the  **proximal** joint.

[2019-03-27 09:36] pattacini commented on #571
All clear, closing then.

[2019-03-27 09:36] #571 closed

[2019-04-01 16:09] nunoguedelha commented on #568
@ale-git , I've fixed the bug preventing me to show you the experiment. Btw, here is a new plot, simpler, showing the current response for a constant PWM input = 6 % while I hold the leg, but let it move very slowly. The moving joint is the left hip roll.

![motorPos2CurrOscillations](https://user-images.githubusercontent.com/6848872/55342363-f39e7d80-54a8-11e9-8ba9-53149cd368dc.png)

I will be bu

[2019-04-02 13:32] ale-git commented on #568
@nunoguedelha Thanks Nuno, I'm checking the current computation starting from the cabling diagram up to the firmware.

[2019-04-03 06:54] valegagge opened #573 "Which is the correct copyright to insert in a new icub device?"
Hi,
I have to develop a new icub device belong to the set of EmbObj*.
I'd like to write the correct copyright caption on new files.

Does someone tell me the correct one?
thanks!

cc @drdanz

[2019-04-03 15:02] pattacini commented on #573
Hi @valegagge
I think you could refer to https://github.com/hsp-iit/organization/issues/71 for this.

[2019-04-03 15:02] #573 closed

[2019-04-10 13:06] drdanz opened #576 "iCubGui using only 1/4 of the canvas on high dpi displays"
On High DPI display, iCubGui does not draw on all the space available:

![Screenshot_20190410_150309](https://user-images.githubusercontent.com/1100056/55880874-e452ba80-5ba1-11e9-95e3-ede0f3a342e0.png)

[2019-04-10 13:46] Nicogene commented on #576
It seems very similar to the issue I had on `gazebo` :thinking:

[2019-04-15 12:38] nunoguedelha commented on #568
ciao @ale-git , any news?

[2019-04-15 14:26] ale-git commented on #568
Hi @nunoguedelha, probably the gain of the two current sensors are slightly unbalanced. There is a calibration procedure at startup for the offset, so I'm thinking about extending it to the calibration of the gain.

[2019-05-09 15:42] InesSorrentino opened #577 "FirmwareUpdater does not build on latest icub-main devel with latest YARP devel on Windows"
[code]

[2019-05-09 16:09] traversaro commented on #577
Caused by a problem introduced in https://github.com/robotology/yarp/pull/2006, fixed by https://github.com/robotology/yarp/pull/2017 .

[2019-05-09 18:41] traversaro commented on #577
Fixed by https://github.com/robotology/yarp/pull/2017 .

[2019-05-09 18:41] #577 closed

[2019-05-15 08:54] fbottarel opened #578 "Black lines in camera feed"
### Description of the failure
Black lines started showing up at the top of the image streams

### Detailed conditions and logs of the failure
The Dragonfly cameras output this kind of video stream at 320x240 (image is magnified for better identification of the issue). The top rows of pixels seem corrupted.

![image](https://user-images.githubusercontent.com/33027628/57681025-26529e80-762f-11e9-95

[2019-05-15 08:59] Nicogene commented on #578
It would be useful to know if it is reproducible also with `usbCamera` (I guess yes) and if it affects `icub-main` on `master` or `devel` branch.

[2019-05-15 10:26] Nicogene commented on #578
I tryed with latest `devel` both `icub-main` and `yarp` and the image look fine also 320x240 using the `usbCamera`.
Could be the bayer? cc @barbalberto

[2019-05-16 07:58] fbottarel commented on #578
I can get some raw image dumps and try on my laptop before updating the robot machines.

[2019-05-16 08:03] Nicogene commented on #578
Usually those artifacts happens when the header is considered has part of the image, probably there is some byte alignment issue with the Bayer coding.

[2019-05-16 08:06] fbottarel commented on #578
I thought we used Bayer encoding only for streaming 640x480 images, does that also happen for lower res?

[2019-06-11 15:25] ale-git opened #581 "More control input modes in 2FOC boards."
The purpose of this issue is to keep track of the icub-main parts touched by the improvements in the low level motor control. The new EMS board firmware will be able to exploit features already present in the 2FOC motor board. In particular, we'll be able to control the iCub motors by velocity and current closed control loops in addition to the pwm open loop now available.

https://github.com/ale-

[2019-06-11 19:46] nunoguedelha commented on #581
Ciao @randaz81 , with @ale-git we started discussing about the integration of these changes and the dependencies (`icub-firmware-shared`) on the `devel` branch of the respective repos...

- By combining these changes with the robots configuration PRed in https://github.com/robotology/robots-configuration/pull/100 (and replicate the changes to iCubGenova02), there is no functional impact on the con

[2019-06-17 11:35] barbalberto opened #584 "ParametricCalibrator(s)"
This issue is to propose 2 changes:

- [ ] Merge back the ParametricCalibrator and ParametricCalibratorEth: I believe that with a small effort the 2 devices can be merged back together as thery were originally. This will simplify maintenance for changes, like the upgrade of park procedure recently introduced in the `Eth` version and not ported yet in the `non-Eth` one.
- [ ] Move them in YARP repo

[2019-06-18 14:02] valegagge opened #587 "FirmwareUpdater: the details window doesn't show the correct information"
When I selected a CAN board from the left panel, the Gui doesn't show the information about the selected board, but the details about the next board in the list of left panel.

[2019-07-08 11:31] valegagge opened #589 "Enable compilation warning if return statement is missing in not void function"
I think it could be useful get a compilation warning (even an error) when missing the return statement in a function with not void return type.

I verified that yarp gives such warning while icub-main doesn't. [Linux environment]

Is it possible to modify the cmake file in order to get such warning also in icub-main?

[2019-07-08 11:33] valegagge commented on #589
cc @drdanz

[2019-07-10 15:21] nunoguedelha commented on #581
ciao @ale-git , as discussed initially with @randaz81, could you please add a documentation on the configuration of the controllers regarding the new "flexible motor input", i.e. the choice of the output type: PWM, Current or Velocity?
Thx.

[2019-07-11 17:06] nunoguedelha commented on #581
Just to make sure we don't miss any points discussed during the meeting, I'm posting the meeting minutes..

[2019-07-11 17:20] nunoguedelha commented on #581
# Meeting minutes (11 July 2019) - [WIP]

**Organizer:** Marco Accame

**Participants:** Marco Accame, Alessandro Scalzo, Nuno Guedelha, Marco Randazzo, Ugo Pattacini, Valentina Gaggero

**Discussion points:**

* Status of activity (ale)
* Results of tests on robots (nuno, ale)
* Decisions on how to merge this feature into devel and when to do it (all)

**Short overview of the feature:**

Previous

[2019-07-11 17:20] nunoguedelha commented on #581
CC @DanielePucci

[2019-07-11 20:44] DanielePucci commented on #581
Great guys, thanks a lot. Just remember to take a [system perspective](https://necsi.edu/system-perspective) during this discussion for implementing nonlinearities and feedforward compensation at the firmaware level

[2019-07-16 13:02] nunoguedelha commented on #581
ciao @ale-git , have you finished rebasing your branches on `icub-main`, `icub-firmware` and `icub-firmware-shared` so that I can run the tests on the purple iCub this afternoon? Thx

[2019-07-16 13:26] ale-git commented on #581
Hi @nunoguedelha , I finished right now. I've put the ems004fmi.hex and mc4plusfmi.hex files of EMS and MC4+ boards in icub-firmware-build/testing.

[2019-07-17 00:44] nunoguedelha commented on #581
Ciao @ale-git , I've tested your updated branches (`icub-main`, `icub-firmware-shared`) and firmware builds, along with the robot configuration files (https://github.com/robotology/robots-configuration/pull/100/commits), on the purple iCub (`iCubGenova02`), and everything went fine. More details [here](https://github.com/robotology/icub-support/issues/843).

[2019-07-17 16:19] nunoguedelha commented on #581
Ciao @ale-git , @randaz81 ,
any update on the pending actions?

Regarding the next meeting I suggest we do it next Monday. What do you think?
@marcoaccame @valegagge @ale-git @randaz81 @pattacini

[2019-07-17 20:34] ale-git commented on #581
Hi @nunoguedelha I'm completing the parser back compatibility, I think that I'll be able to test it tomorrow. About the meeting I suggest Tuesday because I'm not sure I'll be in IIT on Monday.

[2019-07-19 09:45] randaz81 commented on #581
Next week I'll be available  only on 22 and 26

[2019-07-19 10:10] nunoguedelha commented on #581
I think it's ok to do the meeting later as long as we merge the code on Monday before @randaz81 leaves. This implies:
- @ale-git completing the task on the parser today, such that @randaz81 can check before leaving
- @randaz81 completing R1 tests by Monday and merging the code.

If there is any obstacle preventing to achieve the plan, or if I can be of any help please let me know.

[2019-07-20 14:54] nunoguedelha commented on #581
https://github.com/robotology/cer/pull/105#issuecomment-513441969

[2019-07-25 14:14] traversaro commented on #589
Just for your information: if you want to add such a warning  also locally on your machine build, you can simply add the  `-Wreturn-type` flag to the `CMAKE_CXX_FLAGS` CMake cache variable.

[2019-07-30 14:56] nunoguedelha opened #593 "Implement a robots-configuration parser backward compatible with the configuration format used before #581"
Implement a robots-configuration parser backward compatible with the configuration format used before the changes introduced by #581. This way, the missing parameters required by the new low level motor controller interface will be set automatically when parsing old formatted configuration files. For more details refer to https://github.com/robotology/icub-main/issues/581#issuecomment-510576358.

[2019-07-30 15:46] nunoguedelha commented on #581
These changes were implemented in #585
The analysis and implementation of the backward compatible parser will be tracked in https://github.com/robotology/icub-main/issues/593 for the following reasons:
- the code implementing the new "flex motor input" is already merged.
- the priority of the backward compatible parser has been decreased since it is required only by the merging of `devel` into `ma

[2019-07-30 15:47] nunoguedelha commented on #581
CC @marcoaccame

[2019-07-30 15:48] nunoguedelha commented on #593
@ale-git @marcoaccame this is just for tracking the already ongoing work by @ale-git .

[2019-08-09 10:53] traversaro commented on #570
@Nicogene is now working on this issue, that has some non-trivial ramification .

[2019-08-09 13:27] marcoaccame commented on #570
![image](https://user-images.githubusercontent.com/7148284/62782286-3bb65800-baba-11e9-9b9d-3a55c53212ab.png)

[2019-08-09 14:35] Nicogene commented on #570
I started working on `iKinGazeCtrl` (#592) , but in order to use the bno055 mounted on the rfe board we need to add a new version of `iCubInertialSensor` in `iKin`

This is the transformation between the "old" imu bno055 and the one mounted on the rfe board
![image](https://user-images.githubusercontent.com/19152494/62786608-40333e80-bac3-11e9-9805-4b427cfe43dd.png)

@pattacini it is ok for you if

[2019-08-10 08:20] pattacini commented on #570
@Nicogene @traversaro
Is this new IMU going to replace the standard one in the head or represent only a further added device?

In the first case, we can certainly update iKin with the new version.
In the second case, I would rather keep iKin unchanged and let the downstream module build the proper chain to use the new device internally.

⚠️ If the first case holds, then we need to be careful: we h

[2019-08-12 08:17] Nicogene commented on #570
Good question, actually a couple of `icub`  mount this new board(rfe).
I am not sure (maybe @marcoaccame knows better) but, one day, it could replace the imus attached via serial/i2c to the `icub-head`.

In case we proceed for the second option, the idea is to add an option like `--useRFE` in order to handle the required transformation in the software downstream?

[2019-08-12 08:41] traversaro commented on #570
A small suggestion: phrases such as "transformation between" are typically ambiguous, and whenever you have some screenshot, for future reference is always better to include it unedited, especially as the full screenshot in this case provide you with a lot of context info:

According to @maggia80 (verbal communication) ideally in the future we would like to ship iCub heads with **just the RFE**, s

[2019-08-12 09:29] pattacini commented on #570
Ok guys, I've made the requested changes in the referenced PR.
@Nicogene you ought to rebase your development branch on `iKinGazeCtrl` onto this PR.

Keep in mind that I'll be off at least for one week 🏖

[2019-08-12 12:11] Nicogene commented on #570
Thanks @pattacini , I will rebase onto it, test on `iCubGenova02` and then merge your PR.

[2019-08-12 15:24] Nicogene commented on #570
The translation column in which measurement unit is expressed?

[2019-08-12 16:04] traversaro commented on #570
In CREO it is millimeters.

[2019-08-13 15:10] Nicogene commented on #570
Today I compared the dynamics of the imu mounted on the rfe board with the imu Bosch attached to the `pc104` of `iCubGenova02`.
I used this simple script bash for dumping the data:

[code]

The first thing I noticed was that the data coming from the imu mounted on the rfe was more constant.

See this picture as example, from the top the second plot is the data of the old imu, the third is the data

[2019-08-13 15:29] Nicogene commented on #570
The issues of the eyes has been fixed by https://github.com/robotology/icub-main/pull/594/commits/b216c5bc820a1a59e5217efd58c84295ff6926cb.The `iKinGazeCtrl` works also with the `imurfe`

[2019-08-14 14:22] Nicogene opened #595 "embObjIMU has irregular rate"
Trying the changes added in #592 I noticed a worse behaviour of `iKinGazeCtrl` while using the `imurfe` data instead the "old" `imuBosch_BNO055` attached via i2c.

I dumped the dt of data received and here is the result:

![image](https://user-images.githubusercontent.com/19152494/63028528-4ce2d880-beaf-11e9-877d-f2afe81708f9.png)

The upper plot represent the dt using the `imuBosch_BNO055` attach

[2019-08-18 09:18] pattacini commented on #570
Nice verification @Nicogene 👍

Yep, the rate the IMU uses to stream data needs to be as high as possible, thus `10 ms` is a more appropriate rate than `50 ms`.

[2019-08-22 10:09] Nicogene commented on #570
Another related step : https://github.com/robotology/robots-configuration/pull/116

[2019-08-26 16:40] Nicogene commented on #570
Yet Another Related Step: #596

[2019-08-29 09:47] nunoguedelha opened #597 "Robot interface startup FAILS after update of EMS, MC4PLUS and 2FOC builds to the latest devel"
After updating the firmware EMS, MC4PLUS and 2FOC builds to the latest devel commit https://github.com/robotology/icub-firmware-build/commit/46d3f477b566be0b01d34409987e5d259abe36bb, the Robot interface startup fails. There is no ERROR message, only WARNINGS like the following:
[code]
These are with respect to the MC4PLUS boards startup. For instance, for the MC4PLUS at IP 29 we get the following

[2019-08-30 10:13] Nicogene commented on #595
Today I performed a more accurate measure on `iCubGenova02` of the performance of the `imu-rfe` dumping the timestamp coming from the board and here the result:

## Plot
![image](https://user-images.githubusercontent.com/19152494/64013132-6dea3100-cb1f-11e9-89bb-c8be505b261e.png)

## Histogram
![image](https://user-images.githubusercontent.com/19152494/64013056-4d21db80-cb1f-11e9-9d3e-98ea43320b69

[2019-08-30 11:42] Nicogene commented on #595
For excluding any type of interference I performed the same test running only the device of the `imu-rfe` on `iCubGenova02` and here the results:

## Plot

![image](https://user-images.githubusercontent.com/19152494/64018150-f1118400-cb2b-11e9-84a4-05a90995fbe8.png)

## Histogram

![image](https://user-images.githubusercontent.com/19152494/64018196-0ab2cb80-cb2c-11e9-8d9b-16000c51263a.png)

[2019-09-02 07:12] marcoaccame commented on #595
OK @Nicogene, we shall investigate the problem together. I get in touch w/ you soon.

[2019-09-02 10:37] traversaro commented on #597
@nunoguedelha done

[2019-09-02 12:13] valegagge commented on #597
Hi @nunoguedelha ,
the `enableTemperatureTransmission` function is private, so none can calls it. It is used inside to enable and disable the transmission of temperature values during opening or closing device.

The idea behind the return value is: return true if the command has been sent, false otherwise. If the resource doesn't exist then it is not possible sent the command. This happen only:
1)

[2019-09-02 13:23] nunoguedelha commented on #597
Hi @valegagge , it's clear thanks.

I was thinking also about a safeguard mechanism for the case where `enableTemperatureTransmission` is called from inside the device `embObjFTsensor` before the resource is allocated, by mistake (after some code refactoring for instance). But this is just my personal point of view regarding protection against human coding errors.

[2019-09-02 13:24] nunoguedelha commented on #597
I will check tomorrow the fix.

[2019-09-02 14:05] nunoguedelha commented on #597
Updated comment https://github.com/robotology/icub-main/issues/597#issuecomment-527147375

[2019-09-05 14:11] Nicogene commented on #595
The results has been confirmed also on the minimal setup, ms board-rfe-laptop

![image](https://user-images.githubusercontent.com/19152494/64349633-967a9b00-cff7-11e9-9b2a-40581ba058d1.png)

![image](https://user-images.githubusercontent.com/19152494/64349678-a5f9e400-cff7-11e9-9b15-2c8b7c4f968d.png)

[2019-09-10 09:41] nunoguedelha commented on #597
@fjandrad tested the fix and it was working fine.
Both fixes by @valegagge are commits bb055cd and 55154ef.

Current branch `devel` of the repo is already ahead of these commits.

Closing the issue.

[2019-09-10 09:41] #597 closed

[2019-09-20 15:53] valegagge opened #600 "Improvement of parking procedure"
@barbalberto and I improved the parking procedure adding the possibility to park the robot in more than one step.
The need was raised for r1 with new hands: since the hands are bigger than old ones, it was safer split the parking procedure in two step in order to avoid that the hands collide with wheels.
(Please see this [PR](https://github.com/robotology/icub-main/pull/588) )

In order to use the

[2019-09-20 16:11] GiulioRomualdi opened #601 "Unable to find yarp/dev/PreciselyTimed.h"
After this commit in YARP https://github.com/robotology/yarp/commit/e080845de607bbd264791c179a84babac9a650eb, it is not possible to compile `icub-main` in `devel`

This is the error
[code]
The bug can be easily fixed with the following patch in [`genericControlBoardDumper.h`](https://github.com/robotology/icub-main/blob/devel/src/tools/controlBoardDumper/genericControlBoardDumper.h)
[code]

[2019-09-20 16:11] GiulioRomualdi commented on #601
If you want I can open a PR with the fix

[2019-09-20 19:35] pattacini commented on #601
Fixed in @d188e15
Thanks @GiulioRomualdi for reporting.

[2019-09-20 19:35] #601 closed

[2019-09-20 22:44] Urheen opened #602 "Cannot find how to enable Python bindings"
I installed iCUb via the command sudo apt-get install icub.
Then when I try to install python binding, I can not find the main folder under the iCub. My iCub version is 1.12, and under the directory it only has:

cmake  contexts  modules  plugins  templates

Could you help me how to install python binding under this case?

[2019-09-21 14:28] pattacini commented on #602
Hi @Urheen

Bindings are only available through the source. Therefore, you ought to clone the repository and build `icub-main` yourself. At cmake time, you should find the option to enable python bindings.

[2019-09-22 16:54] #501 closed

[2019-09-24 14:53] #602 closed

[2019-09-26 13:23] nunoguedelha opened #604 "icub-main build (with icub-head configuration) failing because of missing dependency on HarBuzz"
## Issue description
When building `icub-main` with a configuration set for the icub-head, we build the target `canLoader` which fails because a dependency cannot be found (header file `hb.h` -> HarfBuzz):

Issue occurs on MacOSX Sierra.

## Build log
[code]

Pango (https://pango.gnome.org/) dependency is used for handling the GTK2 font. Pango depends on [HarfBuzz](https://pango.gnome.org/HarfBuzz

[2019-09-26 13:24] nunoguedelha commented on #604
@marcoaccame or @valegagge could you give me a hand on this one?

[2019-09-27 07:14] traversaro commented on #604
Hi @nunoguedelha, the problem is probably in the CMake files for supporting GTK2 and HarfBuzz. However, the GTK2-based GUIs have been deprecated for a long time (see https://github.com/robotology/icub-main/issues/193), and so it is perfectly fine to just disable their compilation, by setting the `ICUB_USE_GTK2` CMake cache variable of the iCub build to `OFF` . The reason why it was set to `ON` on

[2019-09-27 07:17] traversaro opened #606 "Remove GTK2-based modules"
This issue is part of #193 .

[2019-09-27 07:17] traversaro opened #607 "merge together camCalib, dualCamCalib, camCalibWithPose"
This issue is part of #193 .

[2019-09-27 07:18] traversaro opened #608 "move canBusSniffer outside of the repo"
This issue is part of #193 .

[2019-09-27 07:18] traversaro opened #609 "deal with joystickControl and joystickCheck"
This issue is part of #193 .

[2019-09-27 07:22] traversaro commented on #193
@pattacini for more fine-grained handling of this issue, I converted this issue in an epic and opened separate issues for each element left.

[2019-09-27 07:23] traversaro commented on #606
@pattacini mentioned that it could be a good idea to move the code (even in a state that is not compiling) in https://github.com/robotology-legacy .

[2019-09-27 07:27] traversaro commented on #606
As a preliminary step, we explicitly set `ICUB_USE_GTK2` to `OFF` in the robotology-superbuild in https://github.com/robotology/robotology-superbuild/pull/266 .

[2019-09-27 08:06] Nicogene commented on #570
Other ramifications: #605, robotology/yarp#2098

[2019-09-27 08:07] Nicogene commented on #606
I agree

[2019-09-27 08:10] Nicogene commented on #607
We should also consider to include in this refactoring also `camCalibWithPose`

[2019-09-27 10:00] pattacini commented on #606
For porting the code, a simple fork in the dedicated legacy org should be sufficient.

[2019-09-27 10:35] nunoguedelha commented on #604
Thanks @traversaro ! closing the issue.

[2019-09-27 10:35] #604 closed

[2019-09-29 03:39] ZiaMohiUDin commented on #402
@frank-forester
Can you please guide me how can I control icub with python..

[2019-09-30 09:33] Nicogene commented on #570
Othe ramification https://github.com/robotology/gazebo-yarp-plugins/pull/443

[2019-10-03 12:35] drdanz commented on #607
just for reference, `camCalibWithPose` is an ugly hack and should be re-architectured

[2019-10-04 06:13] drdanz commented on #607
I wrote it, therefore I'm allowed to be disgusted 😉

[2019-10-04 19:04] alecive commented on #607
Well that changes things a bit :-)
I was already picturing a poor phd student crying in a corner because you didn't like his code 🤣

[2019-10-08 09:31] GiulioRomualdi opened #610 "camCalibWithPose warning related to Backdoor time"
When I try to run `camCalibWithPose`  with the following command  and I connect the port the following warning appear. Do you know how to fix the problem?

[code]

[code]

I am currently using the latest version of yarp and icub-main (both of them in devel).

@S-Dafarra @kouroshD @randaz81

[2019-10-08 11:04] GiulioRomualdi opened #611 "camCalibWithPose crashes on Windows"
I am trying to use `camCalibWithPose`  on a Windows machine and I have the following problems:
1.  When I tried to connect the ports (`\icub\head\state:o` and the `icub\cam\left`) the program crashed. We (@kouroshD) compiled the code in `RelWithDebugInfo` and we discovered that it crashed at the following line https://github.com/robotology/icub-main/blob/0a2e1d909fd1466565b2bcab4f755d59e61f7451/sr

[2019-10-10 15:31] Nicogene commented on #595
@triccyx  and me extracted the statistics of the acquisition time of the CAN and here is the histogram(~ 2000 samples):

![image](https://user-images.githubusercontent.com/19152494/66583157-2aa1ca00-eb83-11e9-8bb4-665d7e9c08ee.png)

And here is the plot of the acquisition time:

![image](https://user-images.githubusercontent.com/19152494/66583517-c9c6c180-eb83-11e9-8aa2-7947223ab43f.png)

[2019-10-17 08:56] Nicogene commented on #595
Me @triccyx @marcoaccame and Giorgio Zini analyzed the behavior of the i2c bus of the rfe board, to which is attached the imu Bosch BNO055.

We measured with the oscilloscope the lines `SCL`(clock) the `SDA`(data), and the CAN channel that send the data to the `mc4plus` board as soon as the data is ready.

## `SCL` periodicity

First of all we checked that the clock signal is raised up with a peri

[2019-10-22 10:35] frank-foerster commented on #578
Just to confirm, that I observed a similar or same problem. In my case the "flickering bar" is not at the very top and broader than what is depicted in the gifs above. I am using Bayer encoding here as recommended in the Wiki.
![camCalib_flickerin_1](https://user-images.githubusercontent.com/16962752/67277976-e1754280-f4bf-11e9-82c0-06b6cb28954d.gif)

When trying to produce the gifs for this entry

[2019-10-29 10:37] Nicogene commented on #595
We tested the performances of imurfe respect to the old imu bosch attached to the pc104 and we observed they behave in the same way.

This supports the hypothesis that the probably both have the same uncertainty in the i2c bus acquisition, but the old device driver "hides" this irregularity in the way it takes the timestamp.

Closing.

[2019-10-29 10:37] #595 closed

[2019-10-29 10:39] Nicogene commented on #570
It seems that all the software modifications and tests have been done.
This has been a long trip, but finally it ended :smile:
Thanks to everyone who helped.

Closing.

[2019-10-29 10:39] #570 closed

[2019-10-29 10:49] pattacini commented on #570
We landed! ✈️

[2019-11-08 11:49] prajval10 opened #619 "Installation fails due to stereoCalib on Ubuntu 18.04"
I followed the instructions from http://wiki.icub.org/wiki/Linux:Installation_from_sources#Getting_all_dependencies and the cmake options specified in the docs. I have errors as seen here:

[code]

However build is fine with
[code]
My OpenCV version: 4.1.0

CC: @traversaro

[2019-11-08 12:26] traversaro commented on #619
Hi Praj, unfortunatly the fact that OpenCV 4 is not supported on YARP/ICUB and the related stack is a known issue, see https://github.com/robotology/yarp/issues/1672 . If you need to compile in a system with OpenCV, I suggest to disable the `ICUB_USE_OpenCV`.

[2019-11-08 12:27] traversaro commented on #619
As the issue is tracked in https://github.com/robotology/yarp/issues/1672 , I will close the issue, thanks in any case for reporting.

[2019-11-08 12:27] #619 closed

[2019-11-08 13:11] prajval10 commented on #619
Got it. Thanks! :+1:

[2019-11-14 17:18] traversaro opened #624 "xsensmtx driver does not compile on Windows"
Error:
[code]

[2019-11-15 08:47] traversaro commented on #624
A bit more context:
* In theory `MTComm.cpp` is part of code provided by Xsens back in the day, but we already found small bugs in that code (see https://github.com/robotology/icub-main/pull/591)
* The bug was noticed by testing the robotology-superbuild on Windows, in particular in https://github.com/robotology/robotology-superbuild/runs/303309716

[2019-11-15 09:55] pattacini commented on #611
@Nicogene [this commit][1] removed from the triplet {`camCalib`, `camCalibWithPose`, `dualCamCalib`} the memory allocation of the image `out`. Can this be potentially causing the crash as the following call comes right before the line @GiulioRomualdi has spotted?
https://github.com/robotology/icub-main/blob/0a2e1d909fd1466565b2bcab4f755d59e61f7451/src/modules/camCalibWithPose/src/CamCalibModule.cp

[2019-11-15 10:20] Nicogene commented on #611
Actually all the camera calibration software have problems since a while (e.g. https://github.com/robotology/icub-main/issues/478).
This segfault on windows happens systematically?
I used `camCalibWithPose` with @drdanz for the oculus and it worked on windows but I don't know honestly if it was the last version of `icub-main`.

[2019-11-15 10:32] Nicogene commented on #611
Another question

I don't know how `camCalibWIthPose` specifically works, but why are you connecting the state of the head and the port of the camera??

[2019-11-15 11:33] traversaro commented on #611
If you need to debug memory problems on Windows, Dr. Memory is a great tool even if the homepage is really '90 ( https://drmemory.org/ ).

[2019-11-15 13:06] Nicogene commented on #611
Chatting with @GiulioRomualdi it emerged that it happens systematically and that it happens **only** on windows. On Linux it works fine.

[2019-11-26 14:54] Nicogene opened #628 "getRefPosition/s of IPositionDirect on iCub_SIM should return false in case of no reference frame set instead of a list of zeros"
Here how to reproduce it:

[code]

No matter in which control mode the joints are set. And same thing for the "single-joint" requests, it seems that the `getRefPosition/s` are broken for the `IPositionDirect` interface.

cc @vtikha @pattacini @randaz81

[2019-11-26 15:04] Nicogene commented on #628
Checking quickly the `iCub_SIM` implementation of `IPositionDirect::getRefPosition/s`, the actual joint position is updated **after** that the first Position direct command is executed.

This explain why it return all zeros if the robot it never being moved in position direct.

The question now is, it is a bug, or an intended implementation?

On the real robot it gets the info from the encoders ri

[2019-11-26 16:46] pattacini commented on #628
I'm not into it; investigation required :shipit:

[2019-11-28 13:13] randaz81 commented on #628
Uhm, if the robot never received a reference, why getReference() should contain a value? which value by the way? Maybe zero is not an appropriate answer, not-a-number is more suitable?

[2019-11-28 16:27] Nicogene commented on #628
Chatting f2f with @randaz81 , probably the implementation is correct, I am asking a reference frame and if no reference frame is set, IPositionDirect doesn't have any information.

Maybe it could return nan(I personally don't like it very much) or the request should fail returning false.

BTW probably the best way to know the state of the joints of the robot is using the `iEncoders` interface.

[2019-11-28 16:34] barbalberto commented on #628
My two cents: whatever you choose (function returning false, values to nan, both) I suggest to to the same on real robot and gazebo, for coherence.

Which leads to the question:
What happens on the real robot if you try the same test?

[2019-11-28 16:47] Nicogene commented on #628
Good question indeed :thinking:

[2019-11-28 18:10] traversaro commented on #628
Just to understand, if `getRefPosition/s` only the reference positions explicitly set by `setRefPosition/s` what is the proper way to get the reference positions that the low-level position PIDs uses when it is switched to the POSITION_DIRECT mode, before the first `setRefPosition/s` is send?
For a lot of use cases, it is quite important to be able to initialize positions filters with the exact in

[2019-12-05 14:14] randaz81 commented on #628
You need to use this one:

```yarp::dev::IPidControl::getPidReference (const PidControlTypeEnum &pidtype, int j, double *ref)=0```

Indeed I refactored this API some time ago, to properly distinguish the PID internal reference from user high level reference (trajectory or position direct).

[2019-12-05 15:23] traversaro commented on #628
cc @GiulioRomualdi @S-Dafarra

[2019-12-05 15:28] S-Dafarra commented on #628
Maybe is off-topic. Does this mean that https://github.com/robotology/icub-main/issues/475 was solved?

[2019-12-10 12:53] randaz81 commented on #628
I tried to read the discussion in #475, but I fear that most of the information there are outdated.
I think that if you are interested in performance of these methods, the best way is to _open a new issue_, add a reference to the old one and restart the discussion from scratch. In this respect, a new experimental measurement of the delays is needed.

No, as mentioned above, these methods have diff

[2019-12-10 12:53] #628 closed

[2019-12-11 10:17] pattacini commented on #611
Hi @GiulioRomualdi

In the end, we judged that `camCalibWithPose` needs a deep refactoring, thus we haven't planned any debug activity to devote to this, in its present version.

For the task of refactoring, @Nicogene has opened up a dedicated issue on our internal workflow (https://github.com/icub-tech-iit/fix/issues/133).

[2019-12-11 10:17] #611 closed

[2019-12-18 15:16] dcam0050 opened #631 "SkinPrototype Error when compiling icub-main v1.14.0"
Tried compiling icub-main v1.14.0 and received the following error during compilation:

[code]

Any pointers? Thanks.

[2019-12-18 15:27] dcam0050 commented on #631
Deleting 'mutex(1)' from the initialiser seems to work. Please advise on repercussions?

[2019-12-18 15:32] pattacini commented on #631
Hi @dcam0050 hope you're doing well 😄

Thanks for pointing out this compilation bug that we didn't catch with our CI.
`skinprototype` is a deprecated device so you can safely switch it off at CMake configuration time.

We're also going to patch this in the distro.

[2019-12-18 15:33] pattacini commented on #631
By the way, I assume you're upgrading your own machine and not the robot `iCubSheffield01` since it is not eligible for receiving the distro `2019.12.feat-01`.

[2019-12-18 15:33] traversaro opened #632 "Remove skinprototype device"
The device has been not used for a long time and has been superseded by [`canBusSkin`](https://github.com/robotology/icub-main/tree/master/src/libraries/icubmod/canBusSkin), and all its use in the robots-configuration repo is in file for the old iCubInterface, that has been removed from the repo several years ago (see https://github.com/robotology/robots-configuration/search?p=2&q=skinprototype&ty

[2019-12-18 15:33] traversaro commented on #632
This will avoid problems such as https://github.com/robotology/icub-main/issues/631 .

[2019-12-18 15:52] pattacini commented on #632
Done in #633.

[2019-12-18 15:52] #632 closed

[2019-12-18 15:57] pattacini commented on #631
@dcam0050 we've just produced the tag [`v1.14.1`][1], which has yielded the distro `2019.12.feat-02`.

[1]: https://github.com/robotology/icub-main/releases/tag/v1.14.1

[2019-12-18 15:57] #631 closed

[2020-01-13 17:12] traversaro opened #634 "Support compilation against OpenCV 4"
I tried to compile icub-main with OpenCV 4, and this is the error message with icub-main:
[code]

[2020-01-13 17:18] pattacini commented on #634
I think @xEnVrE made it compile on his fork.
@xEnVrE would you be willing to open up a PR to address this?

[2020-01-13 17:30] xEnVrE commented on #634
Unfortunately, I had no time and just disabled the component of `icub-main` that caused the errors becuase I needed to use  `yarp` + `icub-main (w/o ICUB_USE_OpenCV)` with `OpenCV 4` for some experiments.

[2020-01-14 10:32] Nicogene commented on #634
I can handle it, in the same way I handled https://github.com/robotology/yarp/pull/2162

[2020-01-14 11:18] pattacini commented on #634
@Nicogene thanks!

This shall go to `devel`.

However, given that we have lots of repos to update (icub-main, icub-basic-demos, icub-tutorials, iol, segmentation...), we definitely need to coordinate the overall effort.

We could take on this tomorrow at the dedicated meeting.

[2020-01-14 13:51] Nicogene commented on #634
I noticed also that compiling `icub-main` with opencv 4 there is a linking problem

[code]

This is due to the fact that the content of `${OpenCV_LIBRARIES}` changed in opencv 4.

## OpenCV 3
[code]

## OpenCV 4
[code]

[2020-01-14 13:54] Nicogene commented on #634
This issue seems more fishy than the one encountered in robotology/yarp#2162

[2020-01-14 14:45] Nicogene commented on #634
Another not-trivial problem is that `cvInitUndistortMap` seems to be moved to the impl headers, then is not anymore reachable.

It is used in all the camera calibration modules, we have to find a function that replaces it.
Maybe it has to be done in the refactoring of camera calibration modules

[2020-01-20 16:11] pattacini opened #637 "iCub_SIM crashes in some circumstances"
I've been observing systematic crashes of `iCub_SIM` when it gets launched within the https://github.com/vvv-school/tutorial_gaze-interface application.

Below a Gitpod workspace that helps verify this quickly:

[![Open in Gitpod](https://gitpod.io/button/open-in-gitpod.svg)](https://gitpod.io#snapshot/a3ce2f46-b197-4980-8120-44a47d39945a)

I suspect that https://github.com/robotology/icub-main/pu

[2020-01-21 10:35] dcam0050 commented on #631
@pattacini sorry for the silence. Can you advise which is the latest distro compatible with iCubSheffield01?

[2020-01-21 10:38] dcam0050 opened #638 "Latest iCubSheffield01 compatible distro"
https://github.com/robotology/icub-main/issues/631#issuecomment-567082326

Please advise on the latest distro compatible with iCubsheffield01

[2020-01-21 17:40] pattacini commented on #638
Hi @dcam0050
Could you please provide us with the current tags of the software installed on your system?

The relevant software components can be browsed at http://wiki.icub.org/wiki/Software_Versioning_Table.

[2020-01-22 08:22] dcam0050 commented on #638
For the latest update I have been updating all the release tags to 1.14 for iCub related repos and 3.3 for yarp as mentioned on the link. I will check that I have also updated iCub-firmware. I'm sure I've updated iCub-firmware-build and iCub-firmware-shared to 1.14

[2020-01-22 08:26] dcam0050 commented on #638
I can also provide the tags from a backup of the previous installation once I get into the lab

[2020-01-22 08:39] pattacini commented on #638
Hi @dcam0050

I'm afraid that `iCubSheffield01` is not eligible for the upgrade to the tags you reported as we clearly stated in https://github.com/robotology/QA/issues/377.

Is there any particular reason why you proceeded with the update anyway?

[2020-01-22 08:41] pattacini commented on #638
I've also warned you not to do the upgrade on the robot system: see https://github.com/robotology/icub-main/issues/631#issuecomment-567082326.

[2020-01-22 10:40] pattacini commented on #638
My recommendation is to go back to the old tags you wisely took a backup of and await our next distro 2020.02, which is expected to be provided next month and will cope with `iCubSheffield01`.

How do you see that?

[2020-01-22 12:58] Nicogene commented on #634
Now the support is available in `devel`

[2020-01-22 12:58] #634 closed

[2020-01-26 08:56] pattacini commented on #638
Closing, feel free to open it up again if needed.

[2020-01-26 08:56] #638 closed

[2020-01-28 14:01] dcam0050 commented on #638
Thanks @pattacini We will wait for 2020.02 before updating any sources.

[2020-01-31 16:35] traversaro opened #640 "Crash of wholeBodyDynamics on iCubGenova01"
With the latest devel branch, running the wholeBodyDynamics on iCubGenova01 with `--autoconnect --no_legs --headV2` results in a crash in the following block (**observerThread.cpp**):

[code]

[2020-02-04 13:58] Nicogene commented on #640
Digging into it I found out that it is not robot-related, I suspect that the cause is the introduction of [move semantics in yarp::sig::Vector.](https://github.com/robotology/yarp/pull/1974)

I suspect it because I had a old yarp on my pc and it was not crashing, after updating yarp it crashed also on my pc.

Running it with gdb I have this output:

![image](https://user-images.githubusercontent.c

[2020-02-04 15:11] Nicogene commented on #640
The strange thing is that the segmentation fault happens at this line:

[code]
wher len is !=0.

[2020-02-04 16:07] Nicogene commented on #640
Running `wholeBodyDynamics` with the latest yarp master with Valgrind I have:
[code]
It doesn't crash, probably because valgrind slows it down  a lot.

Reverting the commit that add yarp::sig::Vector move semantics **it doesn't** crash both with and without valgrind and I have this output:

[code]

[2020-02-04 16:11] pattacini commented on #640
Unless we will fix this up soonish, I recommend that we roll back this modification in `yarp/master`.
Moreover, we could grab the opportunity to use smart pointers underneath to avoid manual disposal of the allocated memory.

cc @drdanz

[2020-02-08 12:35] pattacini commented on #637
@Nicogene carried out an extensive analysis and managed to trace back the bug:
[code]

In a nutshell, `iCub_SIM` crashes only when launched from the `yarpmanager` with the env variable `YARP_FORWARD_LOG_ENABLE` enabled. The latter variable allows for redirecting the output of `LogStream` directives to the `yarplogger`.

Those log directives are called in the simulator quite intensively when dealin

[2020-02-08 12:35] #637 closed

[2020-02-10 11:47] Nicogene commented on #637
I'd move this issue/question on YARP :thinking:

[2020-02-21 06:01] KhomutovEvgeniy opened #643 "Don't build on Windows 10, VIsual Studio 19"
I generated and installed YARP on Windows 10 with Visual Studio 19 by following the instruction https://www.yarp.it/install_yarp_windows.html from sources. Yarp is working.
But if I try to generate files iCub from iCub Sources https://github.com/robotology/icub-main.git I get: Error in cinfiguration process, project files may be invalid in CMake.

Files from http://wiki.icub.org/wiki/Downloads - i

[2020-02-21 15:59] pattacini commented on #643
Hi @KhomutovEvgeniy

We are currently in the process of applying a major overhaul to the way we deliver software.
An announcement that gives you already an overview can be browsed at https://github.com/robotology/QA/issues/377.

Essentially, you ought to visit our [**Versioning Table**][1] and act according to the brief instructions you'll find therein. You'll get better pointers to the latest sof

[2020-02-25 08:03] linzdg opened #644 "What is the skeletal structure format of skeletonV*.ini?"
The skeletal structure format of skeletonV3.ini have something in common with BVH (BioVision Hierarchical). But the BVH  defines each bone using keyword such as CHANNELS, OFFSET. In skeletonV3.ini defines each bone using keyword such as RPY_XYZ , DH . Is it possible to get the BVH format of icub skeleton?

[2020-02-25 08:37] pattacini commented on #644
I presume you're referring to [`iCubGui`][1] conf files.

Maybe @ale-git can chime in.

[1]: ./app/iCubGui

[2020-02-25 10:52] ale-git commented on #644
Yes, the iCubGui file format has been derived from the BVH format and adapted to our needs since the iCubGui was derived from a open source simple animation software. The main difference is that our format supports Denavit Hartenberg representation. We don't have the BVH format of the iCub model because the iCubGui was developed to read the already existing DH iCub model. BTW you can derive the BV

[2020-02-26 09:21] linzdg commented on #644
Hi , @ale-git
I have some doubt that if DH( -15 -10.6 -90.0 90.0) ，then OFFSET(-15 0 -10.6).
if RPY_XYZ( 0.0 0.0 -90.0 -21.6 -73.65 -60.5), then  OFFSET (-21.6 -73.65 -60.5 0 -90 0).
Is it correct to rewrite like this?

[2020-02-26 13:15] ale-git commented on #644
Hi @linzdg , I'm not an expert about bvh files, but i think that the OFFSET parameters represent cartesian displacements (links). There ar no explicit rotation offsets because the rotation angles are stored apart in the MOTION section. Here a document that explains the BVH format:

http://www.dcs.shef.ac.uk/intranet/research/public/resmes/CS0111.pdf

Hope this helps

[2020-02-27 12:41] pattacini commented on #643
Closing, feel free to open it up again if needed.

[2020-02-27 12:41] #643 closed

[2020-02-29 16:52] diegoferigo opened #645 "Python bindings not working due to recent mutex changes"
I suspect that https://github.com/robotology/icub-main/pull/618 caused problem to the Python bindings. You can find in the bottom of this comment the compiler output. It seems that the swig autogenerated code tries to copy a recursive mutex, and the type is not copiable.

If I comment all the skin bindings ([here](https://github.com/robotology/icub-main/blob/7ee911aa6020c66107806b6547a62824b9b6a51

[2020-02-29 16:54] diegoferigo commented on #645
cc @Nicogene

[2020-02-29 17:22] pattacini commented on #645
The involved PR doesn't seem to be #618 but rather #616, which dates back to **4 months ago**.
@diegoferigo can you confirm that you were working on a system 4 months old at least before updating? This would help to narrow down the glitch.

We're not currently checking bindings in our CI system yet. Probably, it would be worth doing that as well.

[2020-02-29 17:59] diegoferigo commented on #645
No it's the first time I try using the Python bindings of this repo. I saw that in the past there were few persons using them. Thanks, I'll have a look to the CI.

[2020-03-01 10:44] pattacini commented on #645
In essence, I've checked that [`skinPartBase::recursive_mtx`][1] needs actually to be recursive since some methods of the derived class `skinPart` call each other, which are protected by the mutex.

I'm not a SWIG user but I tried out variations of [this solution][2] unsuccessfully.

[1]: https://github.com/robotology/icub-main/blob/master/src/libraries/skinDynLib/include/iCub/skinDynLib/skinPart.

[2020-03-01 10:47] pattacini commented on #645
The problem should have been present also with the `yarp::os::RecursiveMutex` as it simply a wrapper over `std::recursive_mutex`.

[2020-03-01 10:58] traversaro commented on #645
Unless someone has a strict need for them, we can just disable the bindings for skinDynLib .

[2020-03-01 11:34] pattacini commented on #645
I fully concur with this approach 👍

Uhm, those classes explicitly define copy constructors and copy operators so I'm afraid this is not doable. Instead, we should fiddle with the SWIG configuration file and I don't know how to do that.

[2020-03-01 20:48] traversaro commented on #645
Sorry, then I missed something... @diegoferigo on which methods SWIG if failing? If the copy operator is correctly handled, perhaps we just need to correctly define the copy constructor?

[2020-03-01 20:55] pattacini commented on #645
There are the lines in question:
https://github.com/robotology/icub-main/blob/9340b2345f10b598899fa980b49c85f48fee417f/src/libraries/skinDynLib/src/skinPart.cpp#L11-L28

I've made an attempt to modify the copy constructor to only copy all the data members but the recursive mutex. This approach didn't come off either.

[2020-03-02 22:14] pattacini commented on #644
Closing, feel free to open it up again if needed.

[2020-03-02 22:17] pattacini commented on #534
`ycm` is mandatory for `icub-main` sincce distro 2020.02.

[2020-03-02 22:17] #534 closed

[2020-03-03 07:53] pattacini commented on #482
Moved internally.

[2020-03-03 07:53] #482 closed

[2020-03-12 06:51] linzdg commented on #644
Now I have obtained the bvh file of iCub. And after retarget the human motion,  I obtained the MOTION section of icub, is there any way to apply to the true robot and let it move？The Motion section consisit of euler angle of each joint,  but Cartesian Interface of the positionMove needs the encoder data.

[2020-03-12 08:53] ale-git commented on #644
The Dynamic Interaction Control group https://dic.iit.it/ is working on mimic, maybe they have some modules that translates from human body measures to robot joint space?

[2020-03-12 08:57] pattacini commented on #644
Hi @linzdg

What exactly do you mean when saying "Euler angle of each joint"? A single revolute joint can only be commanded by asking it to move to a specified standard angle. Euler angles serve to determine orientations in 3D of a structure like a kinematic chain (for example the robot arm), not a joint.

The Cartesian Interface is a component that lets you control the pose of the end-point of a

[2020-03-13 01:46] linzdg commented on #644
BVH MOTION arrays provide Zrotation Xrotation Yrotation values which are Euler angles in degrees corresponding to the skeleton information defined above.
For example, I want to use this Zrotation Xrotation Yrotation values to make left leg move. But no method was found to apply to icub.
Here's the data I got from retargetting.
HIERARCHY
ROOT Hips
{
	OFFSET 0.000000 0.000000 0.000000
	CHANNELS 6 Xp

[2020-03-17 16:29] pattacini commented on #644
As said previously, you can command iCub either in joint space by streaming out joints set-points or in the operational space through the use of specific IK components like the Cartesian and Gaze interfaces.

[2020-03-21 08:55] pattacini commented on #644
Closing, feel free to open it up again if needed.

[2020-03-21 08:55] #644 closed

[2020-04-03 13:52] traversaro opened #651 "Install relocatable CMake config files"
As of version v1.15.1 , the `ICUB` CMake package install CMake config files that contains absolute references to the `CMAKE_INSTALL_PREFIX` of the machine in which they were generated, making the installation artifacts non-relocatable (see https://cmake.org/cmake/help/v3.3/manual/cmake-packages.7.html#creating-relocatable-packages).

This is problematic for two reasons:
* Windows binary installers

[2020-04-04 08:27] pattacini commented on #651
This would be a nice improvement indeed.
Is anyone eager to take on it?

I'm not sure I'll have time for it.
cc @Nicogene @traversaro

[2020-04-04 09:11] traversaro commented on #651
I may work on it in the next months, but I do not have a precise schedule yet. Obviously if there are other volunteers that would be great.

[2020-04-06 08:27] Nicogene commented on #651
I may handle it, but since icub-main is slightly more articulated than repos i worked on (cmake-side) i would need support

[2020-04-06 08:38] traversaro commented on #651
I would be happy to provide support.

[2020-04-23 14:24] guidoschillaci commented on #645
Hi, do you maybe have any update about this issue? Otherwise, which version with working python bindings would you suggest me to use?

Thanks!
Guido

[2020-04-23 19:45] pattacini commented on #645
Hi @guidoschillaci

We'll do our best to deliver a fix along with our next distro 2020.05 scheduled this May. Sorry for the inconvenience.

At any rate, you may consider trying out the workaround reported by @diegoferigo in his opening post above, where he suggested commenting out the following few lines:

[2020-04-24 12:26] guidoschillaci commented on #645
Hi @pattacini

thanks a lot for the quick reply, I look forward to the new release!

As for the moment, unfortunately the suggested workaround would not work for me, as I am actually interested in using the skin with the python bindings. I will try with icub-main v1.14.1, or would you suggest me a more recent commit?

[2020-04-24 14:16] pattacini commented on #645
My hunch is that any release delivered earlier than #612 (merged Oct 28, 2019) could be a good candidate.

Skin bindings have been introduced with #544 and are clashing with SWIG because of the recursive mutexes (introduced with https://github.com/robotology/icub-main/commit/6f799216f98b43b77aa834de2b98a7c4ba6a3d27), which are in turn not copyable. Anyway, #544 came after the recursive mutexes and

[2020-04-29 16:06] Nicogene commented on #645
This issue should be fixed now, pull the latest `devel` and try.

Closing for now, reopening in case of further problems

[2020-04-29 16:06] #645 closed

[2020-05-15 13:59] pattacini commented on #606
Done in #659 by @Nicogene ✨

[2020-05-15 13:59] #606 closed

[2020-06-17 08:08] dariopasquali opened #665 "Controlling the RFE Eyelids"
Hi @valegagge
we can't control the eyelids through the FacialExpression application.

## Description of the failure
Using the emotionInterface module from FacialExpression application is not possible to move the eyelids. For example, if I send "set all sad" everything changes except the eyelids.

The only way we can move the eyelids is through the motorgui.
Referring to issue robotology/icub-tech-

[2020-06-19 14:28] traversaro opened #661 "Avoid to raise error messages on iCub CAN-based robots"
On some robots (such as iCubGenova01) the default configuration files raise errors, even if the yarprobotinterface then works fine, see for example (I just collected these messages on  the `iCubGenova01`):

[code]

[2020-06-19 14:53] traversaro commented on #661
I think it is important to avoid raising errors unless strictly, as otherwise we train the users to ignore the error messages, and probably the will ignore them even when they are critical  and should be instead reported to https://github.com/robotology/icub-tech-support .

To get an  actionable definition of done, I think a reasonable target for 1.17/2020.08 is to have no error message on the iCu

[2020-06-19 15:04] traversaro commented on #661
A first step in this direction is https://github.com/robotology/icub-main/pull/662 .

[2020-06-19 15:40] pattacini commented on #661
I fully agree with this approach.

[2020-06-19 15:45] traversaro commented on #661
Second related PR: https://github.com/robotology/icub-main/pull/663 .

[2020-06-22 09:54] pattacini commented on #661
Both PR have been merged 👍

[2020-06-22 09:54] #661 closed

[2020-06-23 15:08] Nicogene commented on #651
Fixed by #652

[2020-06-23 15:08] #651 closed

[2020-06-25 04:43] traversaro opened #666 "icub-main devel configuration fail on Debian Stable"
See https://github.com/robotology/robotology-superbuild/runs/805730684 .

Error log;
[code]

On Debian Buster the CMake  used is 3.13 (see https://packages.debian.org/buster/cmake) so this could be relate to that.

[2020-06-25 04:48] traversaro commented on #666
The problem is probably in all the `install` invocation in https://github.com/robotology/icub-main/pull/652/files#diff-743c289c8bd401436bb8cf793fb84942R62 that lack specification for `RUNTIME DESTINATION` and `ARCHIVE DESTINATION` (see https://github.com/robotology/how-to-export-cpp-library/blob/master/src/LibTemplateCMake/CMakeLists.txt#L86). This is not a problem in CMake >= 3.14 as in that case

[2020-06-25 09:22] pattacini commented on #666
@Nicogene fixed this in #667 👍

[2020-06-25 09:22] #666 closed

[2020-06-26 12:45] Nicogene commented on #665
First step of implementation: https://github.com/robotology/icub-main/pull/668

[2020-06-30 09:48] dariopasquali commented on #665
Hi!
Thank you for the update!
I just added a few comments in the #668 pull request regarding the `.ini` file and the `setRaw` method.

Reading robotology/funny-things#15 code, It would be great if you could implement the same RAW control also in the `emotionInterface` `setRaw` method.

[2020-07-02 08:42] Nicogene commented on #665
Hi @dariopasquali , the `setRaw` method in my opinion doesn't suit very well a module like `iCubBliker` that elaborates high-level commands.

On the other hand for me it makes sense to have it in `emotioninterface`.

Thanks for the comments in #668, all your requests should be satisfied now.

[2020-07-03 09:19] Nicogene commented on #665
The PRs have been merged, the new eyelids are slower than the old ones, probably you will notice a different behaviour, but software side we are done.

Closing for now, feel free to reopen

[2020-07-03 09:19] #665 closed

[2020-07-10 15:59] dariopasquali opened #669 "Controlling the RFE Eyelids - Tested"
Hi @Nicogene ,
Sorry for the double issue, but I can't reopen #665

I tested both the `emotionInterface` and `ICubBlinker` modules on iCubGenova07 cloning from `devel` branch.
**Both the modules failed**. The main issue is they are totally unreliable.

However, after a few tests, I strongly think that this is not related to the control but it is a design issue. The motor that moves the eyelids is

[2020-07-10 16:38] pattacini commented on #669
Hi @dariopasquali

It's not a mere software problem, unfortunately.
As you've been experiencing yourself, we've also noticed that the HW per se is unreliable in certain aspects, in particular relating to the speed of the movements and the occurrence of faults. Software-wise, we can't easily circumvent or patch these unwanted behaviors.

Therefore, we've just filed a ticket on our internal system f

[2020-07-10 16:40] #669 closed

[2020-08-19 06:33] tKsome opened #676 "icub SkinManager's Compensated Skin Output is a double type 0 or 100, instead of [0,255]"
Hi~
I am controlling the icub in ShenZhen01.
At present, i am trying to obtain the skin's data. The Skin outputs are double in the /icub/skin/right_hand_comp port, which had been obtained by Port and Bottle.get(). However, the range of the skin output value should be in [0,255], and I get the range of the value is in [0,100].

[2020-08-19 07:07] tKsome commented on #676
Oh, The SkinManager's Compensated Skin Output is not the range value in [0,100]. It just 0 or 100.

[2020-08-19 07:17] tKsome commented on #676
OK It is my fault. I get a page https://robotology.github.io/robotology-documentation/doc/html/group__icub__skinManager.html
The binarization filter is really simple. Every taxel has a touch threshold, given by its 95% percentile plus a safety threshold (2 by default). If the read value is greater than the corrisponding touch threshold the output is set to 100, otherwise to 0. The binarization fil

[2020-08-19 07:18] #676 closed

[2020-08-31 11:40] S-Dafarra opened #678 "icub-main fails to compile on Windows 10 using Visual Studio 16 2019"
I tried to install it on a clean Windows 10 installation using Visual Studio 16 2019
Here the errors:
[code]

Here's attached the complete build log:

[buildlog.txt](https://github.com/robotology/icub-main/files/5150125/buildlog.txt)

Any hint? @Nicogene @traversaro @prashanthr05

[2020-08-31 12:20] traversaro commented on #678
I remember having a similar issue in https://github.com/robotology/robotology-superbuild/issues/128#issuecomment-433695438 . Can you paste the `CMakeCache.txt` of `ICUB`?

[2020-08-31 12:41] S-Dafarra commented on #678
It's a 1528 lines long file. So I rather attach it as a file.
Here it is! [CMakeCache.txt](https://github.com/robotology/icub-main/files/5150276/CMakeCache.txt)

[2020-08-31 13:04] traversaro commented on #678
The found SDL seems to be indeed the vcpkg one, that is working fine in CI (see https://github.com/robotology/robotology-superbuild/runs/1049179020). If you don't need those tools you can simply set `ICUB_USE_SDL` to `FALSE` . Otherwise, we need to understand what is going on. I guess there is some SDL library that is providing the `main` symbol, and for some reason it is not linked.

[2020-09-02 07:40] S-Dafarra commented on #678
After setting ``ICUB_USE_SDL`` to ``FALSE``, it compiles successfully.

[2020-09-02 16:07] S-Dafarra commented on #678
This was probably due to a mistake of mine in dealing with the dependencies as I did not follow the [README](https://github.com/robotology/robotology-superbuild-dependencies-vcpkg#install-or-remove-vcpkg-ports) correctly. By reinstalling the dependencies and the ``robotology-superbuild`` I don't have this issue anymore.

[2020-09-02 16:07] #678 closed

[2020-09-18 14:21] triccyx opened #681 "FT calibration documentation update"
PRELIMINARY TO WRITE BETTER

Update documentation for the calibration procedure.
- Add photo for wires setup
- Explain better PC version vs EMS board version

[2020-10-10 16:30] traversaro opened #685 "Remove firewirebusreset utility?"
While trying to build icub-main on conda-forge (https://conda-forge.org/) and by doing a cleanup of the apt dependencies of the superbuild (see https://github.com/robotology/robotology-superbuild/pull/483), I noticed that the `dragonfly2` device does not depend only on the [`libdc1394` library](https://damien.douxchamps.net/ieee1394/libdc1394/), as I always assumed and documented in the robotology

[2020-10-10 16:36] pattacini commented on #685
The author is @ale-git (see https://github.com/robotology/icub-main/blame/master/src/libraries/icubmod/dragonfly2/linux/fwBusReset_main.cpp).

[2020-10-12 07:19] ale-git commented on #685
It is a very very old relic, written maybe by Lorenzo Natale many years ago. It can be deleted in my opinion.

[2020-10-12 07:53] violadelbono commented on #685
@traversaro we don't use that tool and I don't think we need it, so also for me it can be removed.

[2020-10-12 08:09] traversaro commented on #685
Thanks a lot for the feedback @violadelbono @ale-git !

[2020-10-12 09:40] #685 closed

[2020-10-22 12:15] S-Dafarra opened #688 "FirmwareUpdater prints an error in the terminal even if the boards are programmed"
I recently had to update the firmware on the iCub3 robot. After the update (it was not updated for a year more or less), the ``yarprobotinterface`` was complaining about a wrong firmware version. So I tried to update the robot with the latest firmware in [``master``](https://github.com/robotology/icub-firmware-build/tree/5570b9ff5835bddc5f532d5042914fae007c3a81), but the ``FirmwareUpdater`` printe

[2020-11-12 17:11] traversaro commented on #285
For reference, this head is part of what is now called iCub 2.6 .

[2020-11-19 18:47] traversaro opened #691 "Unable to load ecan YARP device on Windows"
**Describe the bug**
The `ecan` plugin installed by the ICUB option `ENABLE_icubmod_ecan` does not work correctly, and it is not shown correctly by the `yarpdev --list` on Windows.

**To Reproduce**
Install ICUB and enable the usbCamera device. Then, run `yarpdev --list`, you get:
[code]

**Expected behavior**
I would expect `yarpdev --list`  to work correctly as it does for all the other YARP dev

[2020-11-19 19:02] randaz81 commented on #691
My first question is: is both the SDK and the windows device driver (.dll) correctly installed?
The message `Error while opening C:/robotology/robotology/lib/iCub/esdCan.dll` may be misleading, because the file may exists, but I think the dll will probably try open internally the dll of the device driver, which needs to be in the system path or in `C:\Windows\System32` or equivalent.

[2020-11-19 22:04] traversaro commented on #691
The windows device driver is installed and on the path, on the other hand the SDK for sure is not installed in the CI, I can try on my PC where the device is installed to check if it works.

[2020-11-27 12:39] xEnVrE opened #694 "[iKinFwd] Possible wrong handling of *_hand_finger (finger adduction/abduction) readings in getChainJoints()"
I would like to rise an issue regarding how the readings of the joint `*_hand_finger` (i.e. hand finger adduction/abduction) are handled inside the `iKinFwd::iCubFinger::getChainJoints()` methods.

Namely, given the fact that on a real iCub robot setting this joint to `0` means moving the fingers apart and moving it to `60.0` means closing the fingers I think that the following lines might be wron

[2020-11-27 13:04] pattacini commented on #694
So, to recap:
1. the login open/close is inverted in `iKin` (that's a bug)
2. the bound of the interval does not correspond to the real physical range

Is that correct?

If so, we can fix 1 in `iKin`, whereas for 2 the correct place is to update the conf files.

[2020-11-27 13:33] xEnVrE commented on #694
Yes, that is correct.

As discussed f2f, I will proceed by opening a PR. We use the bounds from the robot (available via the `iKinLink::getMin()/getMax()` methods) to find the proper offset. These limits will be coherent with those of robot if the user align to them using the `iCubFinger::alignJointBounds()` method beforehand.

[2020-12-01 17:43] xEnVrE commented on #694
Today I assisted during the calibration procedure of the joint responsible for adduction/abduction. Even if I can't find any document specifying that the actual range of motion of this group of joints is 60.0 degrees, the calibration procedure is such that
- the reading 60.0 is assigned to the configuration where the fingers are all closed
- the reading 0.0 is assigned to the configuration where t

[2020-12-02 09:19] pattacini commented on #694
After a quick T2T, we agreed on doing a further investigation to see if the hard limit of 60 deg can be removed from iKin, which is not aware of any difference between hard/soft bounds on its own. By contrast, the latter difference should be located at the conf files of the specific robot.

[2020-12-02 10:12] xEnVrE commented on #694
We agreed on the following solution:
1. Given that the minimum `m` and maximum `M` for `*_hand_finger` are available (either from `iCubFinger::alignJointsBounds()` or using  the standard limits of the chain specified in `iCubFinger::allocate()`) we assume that the fingers are totally closed when the encoder reading == M and that they are not closed when the encoder reading == m (i.e. the angle bet

[2020-12-02 13:36] #694 closed

[2020-12-03 19:05] S-Dafarra opened #701 "The embObjIMU device output the RPY data in the wrong order"
Lately, I have been investigating the output of the orientations sensors embedded in the FT sensors attached to the robot feet. In particular, I have been using the [``getOrientationSensorMeasureAsRollPitchYaw``](https://github.com/robotology/yarp/blob/0fcdd28793d2b8d2356c72a2edb728774a9ef7a3/src/libYARP_dev/src/yarp/dev/MultipleAnalogSensorsInterfaces.h#L349) method of the ``MultipleAnalogSensors

[2020-12-04 12:31] pattacini commented on #701
Thanks @S-Dafarra for reporting 👍🏻
We'll be dealing with this starting the next week.

[2020-12-15 16:52] davidetome opened #704 "Fix duplicated param in FirmwareUpdater"
## Description

`FirmwareUpdater` has a duplicated parameter :

`QCommandLineParser: already having an option named "p"`

## DoD

The bug is fixed

[2020-12-17 10:35] Nicogene commented on #701
As I was mentioning during the last meeting the way the data is read from the SW(yarp device) and FW(embobjIMU), i.e. they both read 32 bytes starting from the ACC_REG.

- SW:

https://github.com/robotology/yarp/blob/0481f994c6e03897d038c5f1d1078145646a1772/src/devices/imuBosch_BNO055/imuBosch_BNO055.cpp#L631

https://github.com/robotology/yarp/blob/0481f994c6e03897d038c5f1d1078145646a1772/src/dev

[2020-12-17 22:30] pattacini commented on #701
PR merged ✔

[2020-12-17 22:30] #701 closed

[2020-12-20 13:34] Sohaib448506 opened #706 "Yarp+ iCub ears"
I am trying to access the microphone of Icub through yarp but i am not getting how to connect it so kindly guide me.

[2020-12-20 13:36] pattacini commented on #706
Hi @Sohaib448506

You've already opened up a request at https://github.com/robotology/QA/discussions/461, hence there's no need for this duplication.

We will do our best to respond timely. Stay tuned.

[2020-12-20 13:37] #706 closed

[2020-12-21 22:57] Sohaib448506 opened #707 "ICUB microphone"
Hi i want to listen through microphones of ICUB.. How to access microphones of ICUB? kindly guide me.

[2020-12-21 23:32] pattacini commented on #707
Hi @Sohaib448506

You've already received an answer for your post in https://github.com/robotology/QA/discussions/461.

[2020-12-21 23:33] #707 closed

[2020-12-28 09:49] davidetome commented on #704
Fix done, please see this [PR](https://github.com/robotology/icub-main/pull/708)

cc @pattacini @marcoaccame

[2020-12-28 10:12] #704 closed

[2021-01-06 22:05] xEnVrE opened #710 "Use alignJointsBounds from SWIG"
Classes in namespace `iCub::iKin` implement a method

[code]

that alignes the limb joints bounds with the current values set aboard the iCub.

At the moment, it seems not possible to call this methods from SWIG target languages, e.g. Python, because there is no clear way - at least I cannot find any in the web - to construct something similar to a `std::deque< yarp::dev::IControlLimits*>` using t

[2021-01-07 08:14] pattacini commented on #710
Sure, go ahead @xEnVrE 👍🏻

[2021-01-07 08:53] #710 closed

[2021-01-07 15:19] lrapetti opened #712 "embObjMotionControl: issue in CONTROL configuration parsing"
While changing the parameters in the `CONTROL` group configuration I found the following issue which might lead to problem not easy to spot (as it was in my experience).

The `CONTROL` group usually is something like:
[code]
this means that we are defining a set of gains for each joint (each column) as defined in the given `POS_PID_DEFAULT_{i}` group.
The `POS_PID_DEFAULT_{i}` group is something l

[2021-01-07 15:31] pattacini commented on #712
My 2 cents on this.

Properties like `controlLaw`, `outputType`... need to be shared homogeneously within the same `POS_PID_DEFAULT_{i}` group. Therefore, if you aim to have heterogeneous quantities among different joints, you should make each joint point to a specific (dedicated/different) group.

Did you try creating dedicated groups for different joints?

If this understanding is correct, it ai

[2021-01-07 15:52] lrapetti commented on #712
That is actually what I did, if a dedicated group is defined for each column, the common parameter (`controlLaw`, `outputType`, `fbkControlUnits`) of the first group are used anyway for all the groups.

[2021-01-07 16:30] pattacini commented on #712
Sorry, then I didn't get it correctly in the first place.

So, to recap, if the conf file is something like the following

[code]

then, the second joint's gains will be still in metric units instead of machine units?

[2021-01-07 16:36] lrapetti commented on #712
Yes, exactly, the second joint's gains will be assume to be in `metric_units`.
Sorry if it was not clear.

[2021-01-07 17:05] pattacini commented on #712
Never mind!
So, we'd need to investigate it.
@randaz81 any clue, in the meantime?

[2021-01-14 08:41] randaz81 commented on #712
Indeed. I do not remember the reason nor the details, but it is something that is explicitly forbidden in the code.
Assuming that you modify the parser where I put the comment here:
[code]
then, later, you have a sanity check:
[code]
I do not remember if this parameter is used only just by yarp and the high level motioncontroller or if it is propagated to the  hardware (the control board). The lat

[2021-01-14 08:56] lrapetti commented on #712
I think the reason why it is forbidden might be related to the presence of the coupled joints.

The easiest fix, if not possible to change it, it would be to trough an error in case a configuration with different units (like the one I tested) is parsed.

Otherwise, in case different unit of measurements are present, the gains values should be changed in order to be expressed accordingly to the fir

[2021-01-14 09:21] randaz81 commented on #712
But my question is:
generally speaking, you should not use machine units at all. What is  your use case?
Because these parameters are used mainly for backward compatibility and (ideally) should be removed in the long term.
removing -> no need to change anything in the parser.

In this hypothesis, I'd not change anything in the current parser.
Maybe I'd add just only an error message like the one I

[2021-01-14 11:23] lrapetti commented on #712
It was not a specific use-case, but I ended up in this problem while I was adding a configuration for a single joint, and leaving the others to `none`.
[code]
it seems that the default (`none`) configuration is in `machine_units`

Yes, I think that error message should be thrown for all those type of configurations.

[2021-01-25 13:39] pattacini commented on #712
We'll be dealing w/ this starting in PI06-sprint01 (next week basically).

[2021-01-25 16:09] 2103simon opened #715 "Missing pressure output from the skinDynLib"
I am working on a skin plugin for gazebo and had problems with transmitting force values at the pressure position. After investigating it a bit closer I realized the following part in the skinContact.cpp:
https://github.com/robotology/icub-main/blob/464f592c22de531202f028ad74253ae9cb2d71f0/src/libraries/skinDynLib/src/skinContact.cpp#L76-L81

After changing it to:
[code]
it works just fine. Is the

[2021-01-25 16:20] pattacini commented on #715
It stinks like a bug, actually 🐛
Unless the aim was to put the pressure < 0 to signal an error persistently.
If @simeonedussoni and @Nicogene have nothing against it, I'll fix it up.

Thanks @2103simon

[2021-01-25 16:22] pattacini commented on #715
@2103simon out of sheer curiosity, do you know why the internal pressure was < 0?
Just by initialization?

[2021-01-25 16:57] xEnVrE commented on #715
Hi @pattacini, it was 0 because I think we were using a constructor that initializes it to 0.

https://github.com/robotology/icub-main/blob/8f4afa21352d7ec1fa76f1a6890f9d348a772802/src/libraries/skinDynLib/src/skinContact.cpp#L26

[2021-01-25 17:09] pattacini commented on #715
Thanks @xEnVrE !

Regarding this, I believe that `0.0` is an allowed value, so I'm gonna apply the following patch:
[code]

[2021-01-25 17:15] #715 closed

[2021-01-26 07:06] simeonedussoni commented on #715
Actually if the pressure reads `0.0` the device can be saturated, don't know whether this info is used elsewhere in the code, anyway we can stick to the `< ` comparison.

[2021-01-26 08:10] pattacini commented on #715
@simeonedussoni yes, physically speaking you're right, but this method is used more in a programmatic way so to speak.
Actually, it gets used only externally by WBD and right with `0.0` input value to somehow force a reset.

https://github.com/robotology/icub-main/blob/85ee4c96728b16623b6d9ba72fc6202b67b6d088/src/modules/wholeBodyDynamics/observerThread.cpp#L1560

[2021-01-26 09:00] 2103simon commented on #715
@pattacini, is the fix also applied to robotology-superbuild? I pulled it but saw no change yet. Maybe the issue is on my side.
Thanks for any hint :)

[2021-02-10 08:12] traversaro opened #717 "Shared library compilation on Windows is broken"
Back in 2015, https://github.com/robotology/icub-main/pull/243 added support for compiling icub-main as a shared library on Windows by setting the `ICUB_SHARED_LIBRARY` variable to `ON`, but this stopped working in https://github.com/robotology/icub-main/pull/259 as some global constant variables. At the moment, compilation as a shared library on Windows is failing with errors:
[code]

To correctl

[2021-02-10 17:13] #712 closed

[2021-02-11 07:13] pattacini commented on #717
I'll have a look at this.

@traversaro is there any testing suite in the superbuild we could use against the upcoming fix branch?

[2021-02-19 19:33] arfan786 commented on #501
How can create image in icub simulator  please  help me in code

[2021-02-23 11:19] Nicogene opened #718 "embobjMotionControl fails to open after adding the consistency check of torque PIDs"
This issue is a regression of #716.

Here is my xml file

[code]

Here is the error I get
[code]
I added some debug prints in the parsing phase and it seemed ok

[code]

Then I suspected [object slicing](https://stackoverflow.com/questions/274626/what-is-object-slicing), and I implemented
[code]
a copy of
[code]
with just the signature changed and it **worked**.

A possible solution is to add insi

[2021-02-23 11:46] pattacini commented on #718
Thanks @Nicogene for the nice analysis.

@AlexAntn could you please deal with this?

[2021-02-24 13:47] #718 closed

[2021-02-24 16:47] Nicogene opened #720 "Missing _${PLATFORM_HARDWARE} in the package created via the gh action"
This is a reminder for fixing it for the next release, the file name of the package `icub` doesn't contain the `_${PLATFORM_HARDWARE}` suffix.

For this release I added it by hand.

[2021-02-25 08:03] #720 closed

[2021-03-02 22:26] agijsberts opened #721 "ssgprtune script in the learningMachine module is outdated"
Hi all,

The `learningMachine` module comes with a `ssgprtune` script written in Python to pretrain optimized incremental sparse spectrum GPR models for deployment via the module. Unfortunately, the code is in Python 2 and makes use of OpenOpt, which is no longer being maintained.

Since I occasionally still receive requests for the incremental SSGPR code, not long ago I have split off these scrip

[2021-03-02 22:47] pattacini commented on #721
Hi Arjan, good to hear from you again!
Sure, go ahead with your proposal and open up a pull request.
No git submodule, please! A markdown file filled with some documentation and proper pointers should be spot on!

[2021-03-02 22:54] traversaro commented on #721
fyi @singhbal-baljinder @raffaello-camoriano

[2021-03-03 08:22] pattacini commented on #721
Done in #722 ✔

[2021-03-03 08:22] #721 closed

[2021-03-04 18:27] S-Dafarra commented on #701
With a lot of delay, I finally managed to test it again on the robot and it works as expected :tada:

[2021-03-18 10:16] S-Dafarra opened #728 "IMU filter may produce continuous warnings"
While testing the robot, I noticed the following warning message being printed continuously
[code]
that I tracked to https://github.com/robotology/icub-main/blob/7945541930924a539f147450bace9a8a0571d41f/src/libraries/ctrlLib/src/adaptWinPolyEstimator.cpp#L130.

By looking at which modules use that class, I found it used in the ``ImuFilter``: https://github.com/robotology/icub-main/blob/79455419309

[2021-03-18 10:35] pattacini commented on #728
This warning message might be critical so I think it's important that got printed.
Let me investigate its nature before deciding how to proceed.

[2021-03-18 10:38] S-Dafarra commented on #728
Yes, sure. From the log it is not straightforward to understand what is going on and it is most likely ignored. It is possible there is some hardware issue, but I could not understand why that is printed.

[2021-03-18 10:42] Nicogene commented on #728
A side note: probably this warning was printed also before, but since in the past it was an executable nobody noticed it.
It has been "recently" converted to a device and it is launched by the `yarprobotinterface` then it is now visible in its log

[2021-03-18 10:46] pattacini commented on #728
What you say @Nicogene can be true, but my hunch is that it intimately depends on the type of the IMU.
With Xsens I did not spot such a warning when I coded the module `imuFilter`.

We know that with the Bosch unit within the RFE we've been suffering from problems related to timing.

[2021-03-18 16:04] pattacini commented on #728
With non-increasing time values, the computation of the derivative of the magnetic info cannot be performed (in correspondence of the time instant when the misbehavior happens) and this goes to the detriment of the integration process that estimates the gyro offsets.

It would be beneficial to dump directly the data provided by the IMU YARP port to inspect the profile time stamps.

@Nicogene do yo

[2021-03-18 16:22] S-Dafarra commented on #728
I don't know if it helpful, but on iCub3 (the robot where I had this issue), these are the corresponding lines https://github.com/robotology/robots-configuration/blob/3c71e095a7c1c6b5463518dcbe96746430e588b6/iCubGenova09/icub_wbd.xml#L86-L87

[2021-03-18 16:38] Nicogene commented on #728
The name of the port is `/icub/head/inertials/measures:o` for the raw IMU,  and `/imuFilter/measures:o` should be the filtered one

[2021-03-18 16:41] pattacini commented on #728
@S-Dafarra would you be willing to launch the following the next time you'll be by iCub 3?

[code]

[2021-03-18 17:04] pattacini commented on #728
@Nicogene I wonder if the data shown in https://github.com/robotology/icub-main/issues/595#issue-480708248 are relevant here.

The second plot displays cases where dt = 0, which actually would bring up the warning message.

Is the same IMU device mounted on iCubGenova04?

[2021-03-19 14:28] S-Dafarra commented on #728
Sorry I missed this, I will try on Monday!

I think that on iCubGenova04 we still have the old one connected with ``i2c``: https://github.com/robotology/robots-configuration/blob/3c71e095a7c1c6b5463518dcbe96746430e588b6/iCubGenova04/hardware/inertials/head-inertial.xml#L5-L7 while we have the ``rfe`` board on iCub3: https://github.com/robotology/robots-configuration/blob/3c71e095a7c1c6b5463518dcbe

[2021-03-22 10:39] S-Dafarra commented on #728
Here the data. I just run it for about 30s
[dump.zip](https://github.com/robotology/icub-main/files/6181441/dump.zip)

[2021-03-22 11:37] pattacini commented on #728
Thanks heaps @S-Dafarra !
I'll have a look at the data then.

[2021-03-22 12:03] pattacini commented on #728
![plot](https://user-images.githubusercontent.com/3738070/111986936-d8eac680-8b0e-11eb-918a-30bec577ae74.png)

Apparently, the timestamps are ok – both the tx and the rx.

@S-Dafarra did you get the error message popping up during the acquisition?

[2021-03-22 12:25] S-Dafarra commented on #728
I did not check. I also removed the imu filter from the robot ``yarprobotinterface`` to avoid filling the logger. Do you think it might be related to a temporary problem in reading the data?

[2021-03-22 13:01] S-Dafarra commented on #728
Here some other data. This time I did see the message popping out, even if it was not continuous

[dump.zip](https://github.com/robotology/icub-main/files/6182315/dump.zip)

[2021-03-22 13:21] pattacini commented on #728
![plot](https://user-images.githubusercontent.com/3738070/111995770-97abe400-8b19-11eb-809f-76df89e77569.png)

Thus, it doesn't seem that we have non-increasing timestamps. The plot above just highlights that there's been one packet lost.

@S-Dafarra just disable the imuFilter device while we'll be delving deeper.

[2021-03-22 18:02] roalchaq opened #730 "Error opening yarpdev in 'Face' app"
Hi there!,

When running the Face application on `iCubLondon01` I get the following error in particular with the `yarpdev` module:

[code]
`ttyACM0` was not being initially listed under `/dev`. However, after checking the input voltage to the board that handles the leds and making sure that the conection to the USB port was ok I can see the serial port being listed.

The documentation provided [he

[2021-03-23 08:05] pattacini commented on #728
I took the chance to craft a quick testing snippet in [`pattacini/icub-main-728`][1] with the aim to check whether the [library component][2] is doing its job correctly.

The same exact library component is used within the module [`velocityObserver`][3], which is the one I employed for the test.

The test itself generates a stream to which we can specify to attach an increasing timestamp. Also, we

[2021-03-23 16:06] pattacini commented on #728
@Nicogene can we discuss this a bit together when you'll be available?

[2021-03-24 08:03] Nicogene commented on #728
Yes sure!

[2021-03-24 10:45] pattacini commented on #728
After a quick debriefing w/ @Nicogene we agreed that the only test we can do is to check if the timestamp `ts` retrieved in

https://github.com/robotology/icub-main/blob/7945541930924a539f147450bace9a8a0571d41f/src/libraries/icubmod/imuFilter/ImuFilter.cpp#L74

is ok or not.

To do this, we're required to make a local hack to the `imuFilter` code.

@S-Dafarra, we can plan for this in the next spri

[2021-03-26 08:37] dariopasquali opened #731 "faceExpression - expose the current emotion for each face part"
Hi,
it would be really helpful to know at runtime the current emotion for each facial part (mouth, eyelids, left eyebrow, right eyebrow).

### Possible solutions

The current implementation presents a GET command in the RPC interface which is not implemented.
is it possible to implement it and return the state of the four facial parts (i.ie, a Bottle with hap hap hap hap)?

Even better, you could

[2021-03-26 08:46] pattacini commented on #731
@dariopasquali

It's certainly doable but I am afraid that this change won't take place any time soon since we're busy with other development.

We are open to PR anyway 😉

[2021-03-26 08:51] Nicogene commented on #731
Hi @dariopasquali, I can give you pointers on what you need to change if you need it

[2021-03-26 10:27] traversaro commented on #717
Sorry, I had missed this, Actually the problem emerges also on a standalone compilation of icub-main, just enable the `ICUB_SHARED_LIBRARY` option and compile it on Windows, you should see the error I reported in the issue.

[2021-03-26 10:28] pattacini commented on #717
I'll try to address this over the weekend.

[2021-03-27 17:36] #140 closed

[2021-03-27 17:38] pattacini commented on #477
See https://icub-tech-iit.github.io/documentation/icub_r1_calibration_types/icub_r1_calibration_types/#the-available-calibrations-in-details.

[2021-03-27 17:38] #477 closed

[2021-03-27 17:39] #247 closed

[2021-03-27 17:39] #326 closed

[2021-03-27 17:42] pattacini commented on #456
Updated documentation available at https://icub-tech-iit.github.io/documentation/icub_operating_systems/pc104/icub-live/.

[2021-03-27 17:42] #456 closed

[2021-03-27 17:43] #473 closed

[2021-03-27 17:45] #589 closed

[2021-03-27 17:56] #584 closed

[2021-03-27 17:56] #562 closed

[2021-03-27 17:57] pattacini commented on #581
Closing, feel free to open it up again if needed.

[2021-03-27 17:57] #581 closed

[2021-03-27 17:58] #372 closed

[2021-03-27 17:59] #255 closed

[2021-03-27 17:59] #133 closed

[2021-03-27 18:00] #600 closed

[2021-03-27 18:01] #478 closed

[2021-03-27 18:01] pattacini commented on #416
I think this has been solved.

[2021-03-27 18:01] #416 closed

[2021-03-27 18:02] #425 closed

[2021-03-27 18:03] #530 closed

[2021-03-27 18:04] #432 closed

[2021-03-27 18:05] #445 closed

[2021-03-27 18:06] pattacini commented on #593
Closing, feel free to open it up again if needed.

[2021-03-27 18:06] #593 closed

[2021-03-27 18:06] #563 closed

[2021-03-27 18:07] #587 closed

[2021-03-27 20:29] #484 closed

[2021-03-27 20:39] #555 closed

[2021-03-27 22:01] #551 closed

[2021-03-27 22:03] #550 closed

[2021-03-28 09:52] #717 closed

[2021-04-01 09:35] traversaro opened #738 "Remove unused (?) embObjVirtualAnalogSensor device?"
The `embObjVirtualAnalogSensor` device was supposed to expose the [`IVirtualAnalogSensor`](http://www.yarp.it/git-master/classyarp_1_1dev_1_1IVirtualAnalogSensor.html) to permit software (mainly the whole-body-dynamics) running on icub-head (or the robot cluster) to publish torque estimates that are then sent to the firmware to close the joint torque control loop. However, as far as I can remember

[2021-04-01 09:35] traversaro commented on #738
cc @pattacini @Nicogene @marcoaccame @randaz81

[2021-04-01 10:17] pattacini commented on #738
I'm in favor of this!

[2021-04-01 12:28] Nicogene commented on #738
Ok for me!

[2021-04-03 09:10] pattacini commented on #738
Next week I'll proceed with this removal if there's no objection.

[2021-04-06 20:11] #738 closed

[2021-04-07 08:50] Nicogene opened #740 "actionsRenderingEngine: calib table stopped working"
Today I tested the `calib table` command with `actionRenderingEngine` of the latest tag (`v1.19.2`) and it never detect a contact, I put some prints and I found out that `contactDetectionOn` was always false and it is used while checking the table height:
https://github.com/robotology/icub-main/blob/89971ccd0eda518f2b3c972d1b805c2f44c411fc/src/libraries/actionPrimitives/src/actionPrimitives.cpp#L2

[2021-04-07 08:58] pattacini commented on #740
Uhm, this has always worked and I'm pretty sure that no one changed anything in this respect. I can have a look at it any how.

We need to make sure that the ActionPrimitives are configured with layer 2 (for contact detection) and this is done through configuration parameters.

[2021-04-07 13:47] pattacini commented on #740
Hi @Nicogene

In the meantime, could you please report what are the printouts of `ARE`, especially for what regards the startup and in particular related to these lines:

https://github.com/robotology/icub-main/blob/89971ccd0eda518f2b3c972d1b805c2f44c411fc/src/modules/actionsRenderingEngine/src/MotorThread.cpp#L1244-L1253

[2021-04-07 14:54] Nicogene commented on #740
It print out the "layer 2" line

[2021-04-07 15:05] pattacini commented on #740
So, even though `action` is of type `ActionPrimitivesLayer2`, you observed that:
- `typeid(action).name()` == `A2_PN4iCub6action16ActionPrimitivesE`
- `typeid(ActionPrimitivesLayer2).name()` == `N4iCub6action22ActionPrimitivesLayer2E`

is that correct?

[2021-04-07 15:07] pattacini commented on #740
Well, with a second thought, `action` is of type `*ActionPrimitivesLayer2`, actually. So, how has it worked thus far? 😄
Ok, let me try something neater then.

[2021-04-07 15:23] pattacini commented on #740
This [resource][1] says something on the use of `.name()`:

Therefore, it may have worked in the past only by chance!

I'll see how to patch it then.

[1]: https://en.cppreference.com/w/cpp/types/type_info/name

[2021-04-07 21:08] Nicogene commented on #740
Probably a way to check the type could be using std::is_same and decltype(action) (ref-> https://en.cppreference.com/w/cpp/types/is_same)

[2021-04-08 10:16] #740 closed

[2021-04-08 11:06] pattacini commented on #740
I managed to trace back the [change][1] that introduced the use of `typeid().name()` in the commit b55e056a4bd40e7d318a82aab5241f3b3e876b16, which dates back to 17 months ago.

Actually, given the pandemic, we didn't test `ARE` that much last year: thus, this goes against the belief I expressed above.

[2021-04-08 13:10] Nicogene commented on #740
We tested it both with `icub-main` and `idyntree` `wholeBodyDynamics` and now it works smoothly in both cases 👍🏻

[2021-04-08 15:20] traversaro opened #742 "canBusMotionControl: Update error message in case wrong firmware version is detected"
The error message in https://github.com/robotology/icub-main/blob/v1.19.2/src/libraries/icubmod/canBusMotionControl/CanBusMotionControl.h#L499 is outdated, as it refers to tools that are not used anymore (`iCubInterface`, substituted with `yarprobotinterface`) and outdated documentation links (http://wiki.icub.org/wiki/Firmware, now the entry point is https://icub-tech-iit.github.io/documentation/

[2021-04-08 15:20] traversaro commented on #742
Spotted in https://github.com/robotology/icub-tech-support/issues/0 .

[2021-04-09 09:36] #742 closed

[2021-04-23 06:23] davidetome commented on #728
I see the message also on the iCub3

![](https://user-images.githubusercontent.com/6638215/115827780-0fb54480-a40d-11eb-9b53-4c233a1e30da.png)

[2021-04-23 06:32] S-Dafarra commented on #728
That's where I first noticed it.

[2021-04-23 07:37] davidetome commented on #728
Thank you @S-Dafarra , it was only to say that I can run the test w/ the modified imuFilter code on it w/o using the greeny :+1:

[2021-04-23 10:39] davidetome commented on #728
@pattacini I ran the modified code for `imuFilter.cpp`and got 

![](https://user-images.githubusercontent.com/6638215/115859674-cc6ccd00-a430-11eb-96a9-24bbf3ed5c03.png)

[2021-04-23 12:14] pattacini commented on #728
So, this demonstrates that we do receive from the YARP I/F non-increasing timestamps: `imuFilter` is not the guilty guy.

That's kind of puzzling as this problem didn't come up from the logs we analyzed:
- did we log from the wrong port? cc @Nicogene
- was it that by chance the log didn't contain the problem itself? cc @S-Dafarra (I'd say that's unlikely)
- is there any possibility that the data o

[2021-04-23 14:29] Nicogene commented on #728
It seems the correct ones to me

If I remember correctly we already discussed about the timestamps set by `multipleanalogsensorsserver/client`, maybe @traversaro remember about it, I cannot find it.

The chain of the ts should be:

icub-head:multipleanalogsensorserver -> icubsrv:mutlipleanalogsensorsclient([ref](https://github.com/robotology/icub-main/blob/7945541930924a539f147450bace9a8a0571d41f/

[2021-04-23 16:52] pattacini commented on #728
Thanks @Nicogene 👍🏻

Nope, as you have correctly noticed we use `setPeriod`

With this respect, the following line is conceptually wrong

https://github.com/robotology/icub-main/blob/a8e24e8c024c0a2cef23218be72b8585ece0e1d4/src/libraries/icubmod/imuFilter/ImuFilter.cpp#L139

as `m_period` needs to be [given in seconds][1] (as per the default value `0.01`) while there's a weird manipulation because

[2021-04-24 06:50] pattacini commented on #728
Finally, the imuFilter line above needs to be updated accordingly.

I've changed my mind! I believe it's better to stick to ms as of now and in sight of a major overhaul when all the device driver will switch to the use of seconds.

I'll do the job then @Nicogene!
I'm on it.

[2021-04-24 07:21] pattacini commented on #728
PR's opened up:
- #745
- https://github.com/robotology/robots-configuration/pull/255

[2021-04-24 08:23] pattacini commented on #728
@Nicogene we underestimated the lack of being in sync w/ the incoming data.

Increasing the period to prevent warnings is ok as the device is not crucial; however, we're basically subsampling the signals this way, making imuFilter not useful at all.

I think the imuFilter device should really restore this in-sync functionality.
Would you be willing to take on this task?

[2021-04-24 08:28] pattacini opened #746 "imuFilter device is no longer in sync w/ incoming data"
### Bug description

With the imuFilter device driver's addition in #592, the component is no longer in sync with the incoming data.

As a result, we have been experiencing warnings generated by the velocity estimators and/or the necessity to sub-sample the data.

### Steps to reproduce

See detailed discussion in #728.

### Expected behavior

The imuFilter device should be able to handle each sin

[2021-04-24 09:39] traversaro commented on #746
@traversaro I have some ideas on how to do that, this comment is a remainder for me to comment here.

[2021-04-26 08:04] Nicogene commented on #728
So we merge #745 and https://github.com/robotology/robots-configuration/pull/255 or we await the proper fix?
Because I suspect that after those changes the imuFilter would work worse than the raw data

About this we should attach to a callback of the masclient that I suspect does not exist, the alternative is to roll-back to the read of the port, but we have to parse the mas message.
We could use

[2021-04-26 08:09] pattacini commented on #728
I would proceed anyway, as those warnings might be as dangerous as going at 20 ms.

[2021-04-26 08:11] pattacini commented on #728
He has already a plan! 😀
See https://github.com/robotology/icub-main/issues/746#issuecomment-826065649.

[2021-04-26 08:27] #728 closed

[2021-04-26 08:31] pattacini commented on #728
Let's move the discussion to #746.

[2021-05-18 16:48] drdanz opened #748 "staticgrabber could be removed"
### Bug description

The `staticgrabber` device opens a `.ppm` files, and publishes its content on a port as Image.
This is supported also by the `fakeFrameGrabber` in YARP, therefore there is no reason to have the same functionality in 2 places.

### Steps to reproduce

N/A

### Expected behavior

_No response_

### Example repository

_No response_

### Additional context

_No response_

[2021-05-27 20:48] plinioMoreno opened #750 "Calibration type 5 for EMS4 control boards connected to 2FOC DC - Firmware integration in icub-firmware repos"
### Is your feature request related to a problem?

The `ems4` control board attached to a `2foc` currently support only calibration type 9. The initial report of the missing feature is related to [this discussion](https://github.com/robotology/community/discussions/500) and [this issue](https://github.com/vislab-tecnico-lisboa/eth-boards-setups/issues/15)

### The solution you would like to have a

[2021-05-28 09:00] pattacini commented on #750
Thanks @plinioMoreno for opening up this feature request.
As anticipated, we will be dealing with that in PI08 (starting end of July).

[2021-06-12 07:34] traversaro opened #754 "CanBusMotionControl warnings"
### Is your feature request related to a problem?

While working on another issue (https://github.com/robotology/robotology-superbuild/issues/794) and compiling icub-main master against YARP master, I noticed the following warnings:
[code]

### The solution you would like to have available

I would like to check if those warnings are actually dangerous.

### Alternatives you have considered

_No r

[2021-06-12 07:39] pattacini commented on #754
Actually, [CI is failing](https://github.com/robotology/icub-main/runs/2807883992?check_suite_focus=true) ❌

Perhaps, as a result of the huge changes in https://github.com/robotology/yarp/pull/2596?
Need to investigate.

cc @drdanz

[2021-06-12 07:40] traversaro commented on #754
The nightly failure was detected in https://github.com/robotology/robotology-superbuild/issues/794, I am in the process of opening PRs with the fixes.

[2021-07-16 13:58] isorrentino opened #759 "Get the desired current sent to the current controller"
### Is your feature request related to a problem?

@GiulioRomualdi and I, were investigating the possibility of getting the desired current generated by the ems when the torque-control via current is enabled. Looking in yarp, there is a IPIDControl interface already used in https://github.com/dic-iit/bipedal-locomotion-framework, to get the reference joint position and error. It is possible to set

[2021-07-16 14:08] pattacini commented on #759
All clear @isorrentino.
We could be looking at this in the first sprint of our upcoming quarter PI08.

[2021-07-16 14:26] isorrentino commented on #759
Cc @nunoguedelha

[2021-07-26 11:04] pattacini commented on #746
Hi @traversaro

Do you have any plan for this activity?

[2021-07-26 11:18] traversaro commented on #746
Not that they I want to work in the immediate future, but I had an idea for this kind of use cases (in which a device needs to do something, but we would like this "something" to be synchronized with something else).

Basically, a lot of YARP devices do things, in a way or another. In most cases, this devices inherit from `yarp::os::PeriodicThread`, that kinds of hardcode the fact that each device

[2021-07-26 11:25] pattacini commented on #746
I believe I got the idea and I like it quite a lot.
There are many cases where this new layer would come definitely in handy.

This problem is not urgent at all and I would even keep it on hold to let it serve as the very first testing scenario for the upcoming new service.

Probably, something that we can also discuss during our monthly SW meetups.

[2021-08-02 11:39] mfussi66 commented on #759
@ale-git and I checked the code and we understood that if the 2FOC is current-controlled, the set-point sent by the EMS will already be a current quantity (in mA). As long as you configure the 2FOC to be current-controlled, you do not need to change the code, and you can read the current output with the parameter `VOCAB_PIDTYPE_TORQUE`. Therefore, you can use the function
[getPidOutputRaw(const Pi

[2021-08-03 10:15] pattacini commented on #754
Fixed in #761.

[2021-08-03 10:15] #754 closed

[2021-09-02 06:40] traversaro opened #763 "Compilation failure when compiling icub-main devel branch against yarp latest master branch (2021/09/02)"
### Bug description

Compiling latest icub-main devel against YARP master branch fails with error:

[code]

### Steps to reproduce

The easiest way is to just compile the robotology-superbuild with `-DROBOTOLOGY_PROJECT_TAGS:STRING=Unstable` , see https://github.com/robotology/robotology-superbuild/issues/872 .

### Expected behavior

I would expect the compilation to be successful.

### Example r

[2021-09-02 08:03] Nicogene commented on #763
Maybe it is related to https://github.com/robotology/yarp/pull/2702

[2021-09-02 08:07] pattacini commented on #763
I'm on it.

[2021-09-02 11:01] #763 closed

[2021-09-02 11:03] pattacini commented on #759
Closing, feel free to open it up again if required.

[2021-09-02 11:03] #759 closed

[2021-09-14 10:40] cedricgoubard opened #765 "Cartesian Interface not connecting"
### Device name 🤖

iCubLondon01

### Request/Failure description

Hello,

I am trying to use the cartesian interface to move `iCub`'s arms to a position received from a ROS topic. However, I don't think the `ICartesianControl` is created properly, and my code fails with a `segmentation fault` when I start publishing coordinates to the ROS topic.

### Detailed context

<details> <summary>Here is th

[2021-09-14 10:44] traversaro commented on #765
The problem is that `clientCartCtrl` goes out of scope when the `setup_cart_control` function exits. The `icart` pointer that you obtained via `clientCartCtrl.view(icart)` is only valid as long as the `clientCartCtrl` object is not destroyed.

[2021-09-14 10:45] traversaro commented on #765
Probably you can just make the `clientCartCtrl` object a member of `ROSCommands2YARP, and `setup_cart_control` a method.

[2021-09-14 11:17] cedricgoubard commented on #765
Wow, that was a quick answer!
You were right, that fixed the issue. I also had to move the `Network` object as an attribute, and now it's working great!

<details><summary>Here is the new code</summary>

[code]

</details>

[2021-09-14 11:17] #765 closed

[2021-09-14 11:22] traversaro commented on #765
Don't get too used to it, sometimes we are not so quick. : )

[2021-09-14 13:09] cedricgoubard commented on #765
@traversaro

I am already really grateful for all the answers you have provided so far, even when it takes a bit longer :smile:
(cc @pattacini @davidetome )

[2021-10-18 15:45] S-Dafarra opened #768 "When a joint goes in HF, errors like `positionMoveRaw: skipping command` flood the logger"
### Bug description

When writing simple applications to control the robot, we are used to sending commands to joints without checking the current control mode. See for example https://github.com/robotology/icub-tutorials/blob/23ac25487d5a872030b82b38a28eb44b2cb3bda3/src/motorControlBasic/tutorial_arm.cpp#L129

This is because we usually set the desired control mode only once, during the initializ

[2021-10-18 21:20] pattacini commented on #768
This is not a bug, but rather more a feature request, I'd say.

In my opinion, the high-level SW should be responsible somehow for checking the status of the boards. We do this for example in the Cartesian and Gaze controller.

However, due to some other limitations (see https://github.com/robotology/community/discussions/558) that may turn out to be severe in certain conditions, I reckon we could

[2021-10-19 18:28] pattacini commented on #768
To illustrate what I have in mind, I've fast-prototyped the handling logic in Stateflow.

| |
| :---: |
| <img width="847" alt="model-1" src="https://user-images.githubusercontent.com/3738070/137967549-1ce9bb60-bbf6-4000-93a9-3398ba54bb55.png"> |
| The model with the input and the outputs |
|<img width="1073" alt="model-2" src="https://user-images.githubusercontent.com/3738070/137967558-ba965681-9

[2021-11-10 13:22] pattacini commented on #768
@mfussi66 and @davidetome are working on this in https://github.com/mfussi66/icub-main/tree/devel.

[2021-11-16 13:57] pattacini commented on #768
Done in #770.

[2021-11-16 13:57] #768 closed

[2021-11-21 12:48] pattacini commented on #750
Hi @plinioMoreno

Sorry for being late but we kind of struggled with this activity while attacking a big problem of the AMO absolute sensors on iCub 3. However, we have finally completed the task and now the EMS/2FOC are capable of carrying out the incremental calibration.

Relevant PR's:
- https://github.com/robotology/icub-firmware/pull/217
- https://github.com/robotology/icub-firmware-build/pul

[2021-11-21 12:58] pattacini commented on #748
Hi @drdanz

Thanks for reporting. Sorry, but I completely missed this from my GH dashboard (likely, I wast too fast while scrolling the issues).

I'll do that.

[2021-11-21 13:36] pattacini commented on #748
Fixed via #774.

[2021-11-21 13:36] #748 closed

[2021-11-22 16:01] plinioMoreno commented on #750
Hi @pattacini,

Thanks for the update. If I understood correctly, we should update to the current devel repositories and upload the ems 3.45 firwmare to the board. We hope to run our tests here soon and will ask @ale-git for help.

cc @wevmacedo

[2021-11-22 18:13] pattacini commented on #750
That's correct.

[2021-11-25 12:07] plinioMoreno commented on #750
Hi @pattacini and @ale-git,

We managed to upgrade the repositories and upload the firmwares of [EMS4](https://github.com/robotology/icub-firmware-build/blob/460680f657de754f3d4a82f235eb441bae22c420/ETH/EMS/bin/application/ems.hex) and [2foc](https://github.com/robotology/icub-firmware-build/blob/460680f657de754f3d4a82f235eb441bae22c420/CAN/2foc/2foc.hex).

We used the calibration parameters as fo

[2021-11-29 21:01] ale-git commented on #750
Hi @wevmacedo, I think that first of all we have to check if the 2FOC configuration matches the real characteristics of your motor.
The error is related to quadrature encoder index detection. How many ticks has your encoder disk? Is the index provided? Can you address me to your configuration files?

[2021-12-01 12:57] pattacini commented on #750
Hi @plinioMoreno

@ale-git provided the documentation of the parameters for Type 10.
Check it out at https://icub-tech-iit.github.io/documentation/icub_r1_icub3_calibration_types/icub_r1_calibration_types/#calibration-10.

[2021-12-01 18:49] smwasif opened #777 "macOS iCub_SIM not executing"
Hi dear,
I am new bee to macOS and i installed from robotology-superbuild using source installation by following step by step guide provided at this page. Installation was successful without any error in both conda and without conda installation. In both cases `**yarpserver** `started but whenever i executed `**iCub_SIM**` command I got this result:
**command not found: iCub_SIM**
Please help to a

[2021-12-03 08:04] smwasif commented on #777
Hi @traversaro
Thank you very much for updating me regarding iCub_SIM legacy simulator. Actually, in past I used the legacy simulator in Ubuntu environment. Now i need help  for Gazebo-based iCub simulator usage in macOS.

[2021-12-03 10:39] traversaro commented on #777
Which kind of help do you need in particular? Once you installed the robotology-superbuild with `ROBOTOLOGY_USES_GAZEBO`, if you start `yarpserver` and then `gazebo`, you can see the iCub-related model of Gazebo on the left panel.

[2021-12-03 16:46] smwasif commented on #777
Hi @traversaro
How to install ROS in macOS? more precisely whether should I install ros2 or version 1 ? There are number of pages available instructing its installation e.g., [https://docs.ros.org/en/foxy/Installation/macOS-Development-Setup.html](url).
If you could please guide me specifically for ROS installation steps in macOS Monterey followed by gazebo based iCub simulator.

[2021-12-03 17:28] traversaro commented on #777
Hi @smwasif,
  ROS is not required to run the iCub on Gazebo simulation. I am not sure how are you installing your dependencies, but you can install gazebo on conda with:
[code]
or with homebrew with:
[code]

[2021-12-03 18:27] wevmacedo commented on #750
Hi @ale-git and @pattacini,

Thanks for sending the documentation link of calibration type 10.

We are using the encoder [Faulhaber](https://www.faulhaber.com/fileadmin/Import/Media/EN_IE2-1024_DFF.pdf), with a resolution of 512. The motor we are using for our tests is a [Faulhaber 3242g024cr](https://www.faulhaber.com/fileadmin/Import/Media/EN_2342_CR_DFF.pdf). The motor is free, so there is no g

[2021-12-14 16:58] ale-git commented on #750
Hi @wevmacedo, I see that the motor is DC, while only the 2FOC firmware for BLDC motors can send the index error message above, so I guess that the wrong firmware has been uploaded to the 2FOC board by mistake. The right firmware is

https://github.com/robotology/icub-firmware-build/blob/master/CAN/2foc/2foc.r1.dc.hex

About the quadrature encoder, if your wheel has 512 ticks the resolution in the

[2022-01-26 15:24] wevmacedo commented on #750
Hi @ale-git,

We changed the firmware to the [r1 version of the previous message](https://github.com/robotology/icub-firmware-build/blob/master/CAN/2foc/2foc.r1.dc.hex), and also changed the `Gearbox_E2J` parameter in the file [knee-eb10-j1-mec-V25.xml](https://github.com/vislab-tecnico-lisboa/eth-boards-setups/blob/9d51e3e993ce35d304f063406845c9501ee4d0cb/single-ETH-ems4-1-motor-test-vislab/hardw

[2022-03-03 15:23] sgiraz opened #784 "Some libraries and executables could be placed in the wrong path during the build process"
### Bug description

**SW Configuration:**
- Windows 11
- Visual Studio Code 1.64.2 (with CMake and C++ extensions installed)
- Vcpkg package management program version 2022-02-24-7efe7f2b04912a7d674f86a406f9f2711c0221c6 (with robotology dependencies manually installed)
- Yarp@master version 3.6.102+20220302.2+git01b3de525
- icub-firmware-shared@devel 1.24.0
- icub-main@devel version 1.24.0
  - EN

[2022-03-03 15:29] pattacini commented on #784
Very nice bug report @sgiraz, thanks!

The old macro `icub_export_library` is also used in a few other places: https://github.com/robotology/icub-main/search?q=icub_export_library.

We should therefore address the fix extensively.

[2022-03-03 15:39] pattacini commented on #784
cc @marcoaccame

[2022-03-18 17:15] sgiraz commented on #784
Thanks to the suggestions provided by @traversaro and confirmations by @Nicogene the solution for the issue reported in here relies in the following 3 instructions applied on each libraries mentioned above by @pattacini:

[code]

Talking with @Nicogene, we think that unless these libraries are necessary for other repositories, we could leave the old macros.
Otherwise, we can change them as suggest

[2022-03-18 17:26] pattacini commented on #784
The solution proposed in https://github.com/robotology/icub-main/issues/784#issuecomment-1072618751 seems to be exactly the same as that reported in the OP with the difference that it acts at the level of the single libraries.

My point was:
- Why do all the other libraries (e.g., `ctrlLib`, `iKin`...) build flawlessly as intended without resorting to this change?
- Is there any particular differe

[2022-03-18 17:47] traversaro commented on #784
From what I understand, the question is rather why all other libraries (e.g., `ctrlLib`, `iKin`...) do not put their products as intended, as I do not understand why they should put their product there, even if indeed they do. :D However, let me check.

[2022-03-18 18:22] pattacini commented on #784
Yep, investigating the reason for this difference was my original aim. Applying the patch lightheartedly will quickly fix this particular problem but will potentially hide some others.

[2022-03-21 14:34] Nicogene commented on #784
I had the same doubts, the libraries of the embobj part have a quite old cmake structure (~ 9/12 years) and I hope that here https://github.com/robotology/icub-main/pull/652 I did not change something unintentionally. I probably forgot to test the case of using the build directory, that is probably the reason why @sgiraz spotted this problem only now.

I thought that was that the default one 🤔 If

[2022-03-21 14:57] traversaro commented on #784
Actually no! You can try to compile https://github.com/robotology/how-to-export-cpp-library/ after commenting the three lines https://github.com/robotology/how-to-export-cpp-library/blob/afb21efb655e7b1cc11636c3d42aad9e02fb626f/CMakeLists.txt#L41 and checking where the libraries are placed.

[2022-03-25 17:27] ale-git commented on #750
Hi @wevmacedo, I succeeded at last in making calibration type 10 working with a joint without primary encoder that uses the motor encoder connected to the 2FOC board. I think that it should work with your DC motor as well.
[ems004.lisboa.zip](https://github.com/robotology/icub-main/files/8352637/ems004.lisboa.zip)

@pattacini

[2022-05-13 16:45] wevmacedo commented on #750
Hi @ale-git, we uploaded the new firmware to the EMS board, and after running `yarprobotinterface` the output is this file:
[yarprobotinterfaceOutput.txt](https://github.com/robotology/icub-main/files/8689470/yarprobotinterfaceOutput.txt). It seems that is trying to calibrate, but our DC motor does not move. The final state of the joint in `yarpmotorgui` is:

![yarpmotorgui](https://user-images.gi

[2022-05-13 20:52] #784 closed

[2022-05-19 10:18] traversaro commented on #777
Hi @smwasif, do  you still have problems or we can close this issue? Thanks!

[2022-05-19 10:38] traversaro opened #794 "Compilation error when compiling against latest YARP master branch due to use of removed IFrameGrabberControls2 interface"
### Bug description

[code]

### Steps to reproduce

Compile icub-main devel branch with latest YARP master branch.

### Expected behavior

That the compilation does not fail.

### Example repository

Not Relevant.

### Additional context

Detected in https://github.com/robotology/robotology-superbuild/issues/1125 . Probably this is due to https://github.com/robotology/yarp/pull/2837 .

[2022-05-19 10:58] pattacini commented on #794
Assigning to you @traversaro as you provided the PR 👍🏻

[2022-05-19 13:43] #794 closed

[2022-05-20 14:42] S-Dafarra opened #796 "Compilation failure on Windows. `` cannot open input file 'm.lib'``"
### Bug description

When installing the ``robotology-superbuild`` from scratch on Windows, I got the following error
[code]

cc @traversaro

### Steps to reproduce

- Download the ``robotology-superbuild`` on Windows
- Switch to the branch https://github.com/robotology/robotology-superbuild/tree/releases/2022.02
- Compile (using ``conda`` dependencies)

### Expected behavior

_No response_

### E

[2022-05-20 14:49] traversaro commented on #796
It seems something that should have been fixed by https://github.com/conda-forge/freeglut-feedstock/pull/31 .

[2022-05-20 14:52] traversaro commented on #796
See also https://github.com/robotology/robotology-superbuild/issues/1032 .

[2022-05-20 14:55] S-Dafarra commented on #796
[code]

I guess I might have old versions then

[2022-05-20 14:59] S-Dafarra commented on #796
I wonder if it is worth suggesting to run
[code]
in https://github.com/robotology/robotology-superbuild/blob/releases/2022.02/doc/conda-forge.md

[2022-05-20 15:18] S-Dafarra commented on #796
Running ``mamba update --all`` and deleting the ``ICUB`` build fixed the issue.

[2022-05-20 17:46] pattacini commented on #777
Closing.
Feel free to open it up again if needed.

[2022-05-20 17:46] #777 closed

[2022-05-21 17:48] jhielson opened #797 "Bug: undefined reference to yarp::dev::PolyDriver::PolyDriver"
### Bug description

Hi everyone,

Please, help me with this issue. Every time I try to compile my code, I get the following error:

[code]

That's my code:

[code]

### Steps to reproduce

I only try to compile my code and get the error above. Not sure how to solve it.

### Expected behavior

_No response_

### Example repository

_No response_

### Additional context

_No response_

[2022-05-23 06:43] pattacini commented on #797
Hi @jhielson,

Your code isn't concerned with any possible bug related to `icub-main`, i.e. this repo.
My warm suggestion is thus that you open up a [Q&A discussion](https://github.com/robotology/community/discussions/new?category=q-a).

Alternatively, you could consider filing an issue on [`yarp`](https://github.com/robotology/yarp). In my view, a community discussion is a better fit though.

Rem

[2022-05-23 06:43] #797 closed

[2022-05-23 10:14] jhielson commented on #797
Thank you! I have created a new issue on ```robotology/community``` as suggested (https://github.com/robotology/community/discussions/577).

[2022-06-07 08:53] pattacini commented on #796
Hi @S-Dafarra @traversaro

Any progress on this?

[2022-06-07 08:54] S-Dafarra commented on #796
That was a problem of not update dependencies. I think we can close this.

[2022-06-07 08:56] traversaro commented on #796
Yep. There was still a doubt on how can we document "you should update your environment", but this is unrelated to this specific issue.

[2022-06-07 08:56] #796 closed

[2022-07-01 10:40] randaz81 opened #812 "embObjFTsensor: SensorName and SensorFrameName should be different parameters"
### Bug description

In `embObjFTsensor`  device driver: https://github.com/robotology/icub-main/blob/6a5922c7d6ef15e864486217b7ae4638805bd0d2/src/libraries/icubmod/embObjFTsensor/embObjFTsensor.cpp#L448-L458

The two parameters `name` and `frameName` should not be assigned to the same value.
Indeed:
- sensor name is the UNIQUE name of the sensor.
- frame name is the name of the robot link to whic

[2022-07-01 12:25] pattacini commented on #812
We should also get `embObjMultipleFTsensors` covered.

cc @marcoaccame @triccyx

[2022-07-02 08:24] pattacini commented on #812
We will have time to review and correct this bug during PI12.

[2022-07-02 08:25] pattacini commented on #812
/remind July 25 plan on this

[2022-07-28 20:24] pattacini commented on #750
@ale-git and @wevmacedo are working these days side by side on this.
I reckon we can close this task.

[2022-07-28 20:24] #750 closed

[2022-07-31 09:22] pattacini opened #815 "Unit Tests are not running in CI"
### Bug description

Unit Tests provided by @triccyx are apparently no longer running during CI.

### Steps to reproduce

Just peruse CI logs.
For example, this one: https://github.com/robotology/icub-main/runs/7579048628?check_suite_focus=true

<img width="385" alt="image" src="https://user-images.githubusercontent.com/3738070/182019673-347689fd-e0fd-4304-b2c6-0a07f78b3a91.png">

### Expected beh

[2022-08-04 14:32] pattacini commented on #815
Fix provided in #817.

[2022-08-04 14:32] #815 closed

[2022-09-09 14:49] randaz81 commented on #812
1- yes, framename is not currently present in xml files, and will be introduced by your modification
2 -yes, your xml is correct, the name of the frame can be chosen arbitrarily by you but I recommend matching the name defined in the gazebo sdf model (either of the sensor or the attached link)

[2022-09-10 11:31] traversaro commented on #812
I agree in general that it could be useful in some cases to separate SensorName and FrameName, but in the case of the icub  can't we use the same string for both? This is quite of important from the point of view of multipleanalogsensorremapper: the remapper uses the **sensorname** to permit users to remap devices (a bit like for controlboard we use joint names), but if you use different sensor na

[2022-09-10 13:20] pattacini commented on #812
I would aim to avoid this 👍🏻

[2022-09-12 13:29] randaz81 commented on #812
I agree too, simulated and real robot must be consistent. But this does not imply that framename and sensorname should be identical. It depends on your convenience and the current status of your urdf. The only constraint is that the frame name must be an existing frame of the transform tree, while the sensor name can be chosen arbitrarily (you can even keep your current one). However, I suspect th

[2022-09-12 13:37] pattacini commented on #812
Gotcha 👍🏻

At any rate, what we're doing now is just applying a fix to the SW in order to be able to manage the two different parameters.

How we're going to update the URDF and the like can come at a later convenience after the PR is merged.

[2022-09-14 12:58] #812 closed

[2022-09-14 13:40] GiulioRomualdi opened #824 "Magnetometer streams zero when embObjIMU and multipleanalogsensorsserver is used"
### Bug description

We are trying to stream the data of the magnetometer on iCubGenova09. We noticed that the data are constantly equal to zero.

This is an example of the device we run on the robot
https://github.com/ami-iit/robots-configuration/blob/devel_iCubGenova09/iCubGenova09/hardware/inertials/left_arm-eb1-IMU.xml
and this is the associated network wrapper https://github.com/ami-iit/robot

[2022-09-20 12:06] matejhof opened #828 "skinGui positions files for iCub legs"
### Is your feature request related to a problem?

_No response_

### The solution you would like to have available

Hello everyone,
am I correct that there the skin on the iCub legs has never been calibrated (guessing from [https://github.com/robotology/icub-main/tree/master/app/skinGui/conf/positions](https://github.com/robotology/icub-main/tree/master/app/skinGui/conf/positions))?
I have a stud

[2022-11-03 05:50] traversaro opened #840 "malloc_consolidate(): invalid chunk size Aborted (core dumped) error when running yarpdev --list"
### Bug description

Running `yarpdev --list` results in:

[code]

### Steps to reproduce

Rung `yarpdev --list`

### Expected behavior

Not to see any error.

### Example repository

N.a.

### Additional context

_No response_

[2022-11-04 18:02] traversaro commented on #840
The issue is related to the use of dynamic memory allocation (due to the use of `std::string`) in a static object instance (in particular `eth::EthBoards::defaultnames[eth::EthBoards::maxEthBoards]` and `eth::EthBoards::errorname[1]`, defined in https://github.com/robotology/icub-main/blob/v1.28.1/src/libraries/icubmod/embObjLib/ethBoards.cpp#L55) that is contained in a static library (`ethResourc

[2022-11-04 23:45] traversaro commented on #840
Apparently this bug was already fixed in https://github.com/robotology/icub-main/pull/380, but then there was a regression in https://github.com/robotology/icub-main/pull/786 (see discussion https://github.com/robotology/icub-main/pull/786/files#r837687805 ). Probably in the next fix we should add a test to avoid regressions.

Probably we should find a way to fix this issue that does not introduce

[2022-11-24 22:08] traversaro opened #842 "iCub_SIM not compiling against YARP 3.8"
### Bug description

Compiling the latest icub-main with the latest YARP master, iCub_SIM fails with:
[code]

These seems related to https://github.com/robotology/yarp/pull/2903 .

fyi @pattacini @randaz81

[2022-11-24 22:16] randaz81 commented on #842
yep, that piece of code needs some cleanup, too. I can take care of it.

[2022-11-25 11:58] pattacini commented on #842
I had a couple of discussions w/ @traversaro and @randaz81 and the idea is to remove the glorious yet old iCub_SIM (already deprecated) from icub-main and store it as a legacy code for the record.

Thus, Distro 2022.11.0 will be the last one providing a functioning iCub_SIM. That said, I'm going to remove the old simulator soon after the distro delivery (cc @robotology/everyone).

Considering that

[2022-11-25 14:26] traversaro commented on #842
I will disable iCub_Sim from unstable for the time being.

[2022-11-25 16:44] traversaro commented on #842
Done in https://github.com/robotology/robotology-superbuild/pull/1309 .

[2022-11-25 17:22] pattacini commented on #842
Thank you @traversaro!

[2022-11-25 17:22] #842 closed

[2022-11-28 13:48] alecive commented on #842
End of an era!